In [55]:
import pandas as pd
import numpy as np
from dateutil.parser import parse

#import and read data
samples = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/AmostrasAngolaTerrario.xlsx")
analyses = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Horizontes Analises.xlsx")
morphology = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Horizontes_Morfologia.xlsx")
profile_loc = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Perfis_local.xlsx")
soil_profile = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Perfis_solo.xlsx")
elemental_analyses = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Data XRF Angola_inicial.xlsx")
#soil_type = pd.read_excel("/Users/inesschwartz/Desktop/Thesis/tables_soil_database/Perfis_solo.xlsx")

In [2]:
# import pandas as pd
# import numpy as np

# def analyze_profile_matching():
#     """
#     Analyze profile matching across all soil database tables
#     """
    
#     print("üîç PROFILE MATCHING ANALYSIS")
#     print("=" * 50)
    
#     # Load all data files
#     print("üìÇ Loading data files...")
    
#     samples = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/AmostrasAngolaTerrario.xlsx")
#     analyses = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Horizontes Analises.xlsx")
#     morphology = pd.read_csv("/Users/inesschwartz/GreenDataScience/Thesis/tables_clean/morpho_cleaned.csv")
#     profile_loc = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Perfis_local.xlsx")
#     soil_profile = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Perfis_solo.xlsx")
    
#     print("‚úÖ Data loaded successfully")
    
#     # Function to standardize profile names consistently
#     def standardize_profile(profile_series, table_name):
#         """Standardize profile names using your cleaning approach"""
#         print(f"  üßπ Cleaning profiles in {table_name}...")
        
#         cleaned = (profile_series
#                   .astype(str)
#                   .str.replace('/', '_')
#                   .str.strip()
#                   .str[:20]
#                   .str.upper()  # Convert to uppercase for consistent comparison
#                   )
        
#         return cleaned
    
#     # Clean profile names in each table
#     print("\nüßπ Standardizing profile names...")
    
#     # Samples table
#     samples_profiles = standardize_profile(samples['Perfil'], 'samples')
#     samples_unique = set(samples_profiles.dropna())
    
#     # Analyses table  
#     analyses_profiles = standardize_profile(analyses['PERFIL'], 'analyses')
#     analyses_unique = set(analyses_profiles.dropna())
    
#     # Morphology table
#     morphology_profiles = standardize_profile(morphology['Perfil'], 'morphology')
#     morphology_unique = set(morphology_profiles.dropna())
    
#     # Profile location table (perfis_local)
#     profile_loc_profiles = standardize_profile(profile_loc['PERFIL'], 'profile_loc')
#     profile_loc_unique = set(profile_loc_profiles.dropna())
    
#     # Soil profile table
#     soil_profile_profiles = standardize_profile(soil_profile['Perfil'], 'soil_profile')
#     soil_profile_unique = set(soil_profile_profiles.dropna())
    
#     # Print summary statistics
#     print("\nüìä PROFILE SUMMARY BY TABLE:")
#     print(f"  üìç Profile_loc (perfis_local):  {len(profile_loc_unique):,} unique profiles")
#     print(f"  üß™ Samples:                     {len(samples_unique):,} unique profiles")
#     print(f"  üî¨ Analyses:                    {len(analyses_unique):,} unique profiles") 
#     print(f"  ü™® Morphology:                  {len(morphology_unique):,} unique profiles")
#     print(f"  üå± Soil_profile:                {len(soil_profile_unique):,} unique profiles")
    
#     # Find intersections
#     print("\nüéØ FINDING MATCHING PROFILES...")
    
#     # Profiles that appear in ALL tables
#     all_tables_match = (profile_loc_unique & 
#                        samples_unique & 
#                        analyses_unique & 
#                        morphology_unique & 
#                        soil_profile_unique)
    
#     # Profiles that appear in perfis_local AND each other table
#     loc_samples_match = profile_loc_unique & samples_unique
#     loc_analyses_match = profile_loc_unique & analyses_unique
#     loc_morphology_match = profile_loc_unique & morphology_unique
#     loc_soil_match = profile_loc_unique & soil_profile_unique
    
#     # Profiles that appear in perfis_local AND at least 3 other tables
#     at_least_4_tables = set()
#     for profile in profile_loc_unique:
#         count = sum([
#             profile in samples_unique,
#             profile in analyses_unique, 
#             profile in morphology_unique,
#             profile in soil_profile_unique
#         ])
#         if count >= 3:  # perfis_local + at least 3 others = 4 total
#             at_least_4_tables.add(profile)
    
#     # Print matching results
#     print(f"\n‚úÖ MATCHING RESULTS:")
#     print(f"  üéØ Profiles in ALL 5 tables:           {len(all_tables_match):,}")
#     print(f"  üìç Perfis_local ‚à© Samples:             {len(loc_samples_match):,}")
#     print(f"  üìç Perfis_local ‚à© Analyses:            {len(loc_analyses_match):,}")
#     print(f"  üìç Perfis_local ‚à© Morphology:          {len(loc_morphology_match):,}")
#     print(f"  üìç Perfis_local ‚à© Soil_profile:        {len(loc_soil_match):,}")
#     print(f"  üåü Perfis_local + at least 3 others:   {len(at_least_4_tables):,}")
    
#     # Create detailed results dataframe
#     print("\nüìã Creating detailed matching report...")
    
#     # Create a comprehensive report
#     all_profiles = profile_loc_unique | samples_unique | analyses_unique | morphology_unique | soil_profile_unique
    
#     matching_report = []
    
#     for profile in sorted(all_profiles):
#         row = {
#             'profile': profile,
#             'in_profile_loc': profile in profile_loc_unique,
#             'in_samples': profile in samples_unique,
#             'in_analyses': profile in analyses_unique,
#             'in_morphology': profile in morphology_unique,
#             'in_soil_profile': profile in soil_profile_unique,
#             'total_tables': sum([
#                 profile in profile_loc_unique,
#                 profile in samples_unique,
#                 profile in analyses_unique,
#                 profile in morphology_unique,
#                 profile in soil_profile_unique
#             ]),
#             'in_all_tables': profile in all_tables_match,
#             'in_perfis_local_plus_3': profile in at_least_4_tables
#         }
#         matching_report.append(row)
    
#     matching_df = pd.DataFrame(matching_report)
    
#     # Create specific lists for your analysis
#     print("\nüìù Creating specific profile lists...")
    
#     # List 1: Profiles in ALL tables (highest confidence)
#     all_tables_list = sorted(list(all_tables_match))
    
#     # List 2: Profiles in perfis_local + at least 3 other tables (good confidence)
#     good_match_list = sorted(list(at_least_4_tables))
    
#     # List 3: Profiles only in perfis_local (potential orphans)
#     only_in_perfis_local = profile_loc_unique - (samples_unique | analyses_unique | morphology_unique | soil_profile_unique)
#     orphan_list = sorted(list(only_in_perfis_local))
    
#     # List 4: Profiles missing from perfis_local but in other tables
#     missing_from_perfis_local = (samples_unique | analyses_unique | morphology_unique | soil_profile_unique) - profile_loc_unique
#     missing_list = sorted(list(missing_from_perfis_local))
    
#     print(f"  ‚úÖ All tables match list:       {len(all_tables_list):,} profiles")
#     print(f"  ‚úÖ Good match list:             {len(good_match_list):,} profiles") 
#     print(f"  ‚ö†Ô∏è Orphans (only perfis_local): {len(orphan_list):,} profiles")
#     print(f"  ‚ö†Ô∏è Missing from perfis_local:   {len(missing_list):,} profiles")
    
#     # Save results to CSV files
#     print("\nüíæ Saving results to CSV files...")
    
#     output_dir = "/Users/inesschwartz/GreenDataScience/Thesis/profile_matching_results"
#     import os
#     os.makedirs(output_dir, exist_ok=True)
    
#     # Save comprehensive report
#     matching_df.to_csv(f"{output_dir}/comprehensive_profile_matching_report.csv", index=False)
#     print(f"  üíæ Saved: comprehensive_profile_matching_report.csv")
    
#     # Save specific lists
#     pd.DataFrame({'profile': all_tables_list}).to_csv(f"{output_dir}/profiles_in_all_tables.csv", index=False)
#     print(f"  üíæ Saved: profiles_in_all_tables.csv ({len(all_tables_list)} profiles)")
    
#     pd.DataFrame({'profile': good_match_list}).to_csv(f"{output_dir}/profiles_good_match.csv", index=False)
#     print(f"  üíæ Saved: profiles_good_match.csv ({len(good_match_list)} profiles)")
    
#     pd.DataFrame({'profile': orphan_list}).to_csv(f"{output_dir}/profiles_orphaned.csv", index=False)
#     print(f"  üíæ Saved: profiles_orphaned.csv ({len(orphan_list)} profiles)")
    
#     pd.DataFrame({'profile': missing_list}).to_csv(f"{output_dir}/profiles_missing_from_perfis_local.csv", index=False)
#     print(f"  üíæ Saved: profiles_missing_from_perfis_local.csv ({len(missing_list)} profiles)")
    
#     # Create a summary for each specific intersection
#     intersections = {
#         'perfis_local_AND_samples': sorted(list(loc_samples_match)),
#         'perfis_local_AND_analyses': sorted(list(loc_analyses_match)),
#         'perfis_local_AND_morphology': sorted(list(loc_morphology_match)),
#         'perfis_local_AND_soil_profile': sorted(list(loc_soil_match))
#     }
    
#     for name, profile_list in intersections.items():
#         pd.DataFrame({'profile': profile_list}).to_csv(f"{output_dir}/{name}.csv", index=False)
#         print(f"  üíæ Saved: {name}.csv ({len(profile_list)} profiles)")
    
#     # Print sample of results for quick review
#     print(f"\nüëÄ SAMPLE RESULTS:")
#     print(f"\nFirst 10 profiles that appear in ALL tables:")
#     for i, profile in enumerate(all_tables_list[:10]):
#         print(f"  {i+1:2d}. {profile}")
    
#     if orphan_list:
#         print(f"\nFirst 10 profiles ONLY in perfis_local (potential issues):")
#         for i, profile in enumerate(orphan_list[:10]):
#             print(f"  {i+1:2d}. {profile}")
    
#     if missing_list:
#         print(f"\nFirst 10 profiles MISSING from perfis_local:")
#         for i, profile in enumerate(missing_list[:10]):
#             print(f"  {i+1:2d}. {profile}")
    
#     # Summary recommendations
#     print(f"\nüéØ RECOMMENDATIONS:")
#     print(f"  1. Start with the {len(all_tables_list)} profiles that appear in ALL tables")
#     print(f"  2. Focus fixing on the {len(good_match_list)} profiles with good matches") 
#     print(f"  3. Investigate the {len(orphan_list)} orphaned profiles in perfis_local")
#     print(f"  4. Consider adding {len(missing_list)} missing profiles to perfis_local")
    
#     return {
#         'matching_df': matching_df,
#         'all_tables_match': all_tables_list,
#         'good_match': good_match_list,
#         'orphans': orphan_list,
#         'missing': missing_list,
#         'intersections': intersections
#     }

# # Run the analysis
# if __name__ == "__main__":
#     results = analyze_profile_matching()
#     print(f"\n‚úÖ Analysis complete! Check the CSV files for detailed results.")

In [3]:
# Golden Profiles Analysis: 1,109 High-Quality Soil Profiles
# Focus on profiles that appear in ALL 5 tables for maximum data integrity

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime
import warnings
warnings.filterwarnings('ignore')

print("üåü GOLDEN PROFILES ANALYSIS")
print("=" * 50)
print("Working with 1,109 profiles that appear in ALL tables")
print("Goal: Create clean, linked database with composite keys")
print("=" * 50)

# ============================================================================
# SECTION 1: LOAD DATA AND FILTER TO GOLDEN PROFILES
# ============================================================================

print("\nüìÇ SECTION 1: LOADING DATA AND FILTERING TO GOLDEN PROFILES")
print("-" * 60)

# Load original data files
print("Loading original data files...")
samples = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/AmostrasAngolaTerrario.xlsx")
analyses = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Horizontes Analises.xlsx")
#morphology = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Horizontes_Morfologia.xlsx")
morphology = pd.read_csv("/Users/inesschwartz/GreenDataScience/Thesis/tables_clean/morpho_cleaned.csv")
profile_loc = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Perfis_local.xlsx")
soil_profile = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Perfis_solo.xlsx")
elemental_analyses = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Data XRF Angola_inicial.xlsx")

print("‚úÖ Original data loaded successfully")

# Load golden profiles list
golden_profiles_df = pd.read_csv("/Users/inesschwartz/GreenDataScience/Thesis/profile_matching_results/profiles_in_all_tables.csv")
golden_profiles = golden_profiles_df['profile'].tolist()

print(f"‚úÖ Loaded {len(golden_profiles)} golden profiles")
print(f"Sample golden profiles: {golden_profiles[:5]}")

# Function to standardize profile names (consistent with your analysis)
def standardize_profile(profile_series):
    """Standardize profile names consistently"""
    return (profile_series
            .astype(str)
            .str.replace('/', '_')
            .str.strip()
            .str[:20]
            .str.upper())

# Apply standardization to all tables
print("\nüßπ Standardizing profile names...")

# Samples
samples['profile_clean'] = standardize_profile(samples['Perfil'])
samples_original_count = len(samples)
samples_golden = samples[samples['profile_clean'].isin(golden_profiles)].copy()
print(f"  üìä Samples: {samples_original_count:,} ‚Üí {len(samples_golden):,} records")

# Analyses
analyses['profile_clean'] = standardize_profile(analyses['PERFIL'])
analyses_original_count = len(analyses)
analyses_golden = analyses[analyses['profile_clean'].isin(golden_profiles)].copy()
print(f"  üìä Analyses: {analyses_original_count:,} ‚Üí {len(analyses_golden):,} records")

# Morphology
morphology['profile_clean'] = standardize_profile(morphology['Perfil'])
morphology_original_count = len(morphology)
morphology_golden = morphology[morphology['profile_clean'].isin(golden_profiles)].copy()
print(f"  üìä Morphology: {morphology_original_count:,} ‚Üí {len(morphology_golden):,} records")

# Profile location
profile_loc['profile_clean'] = standardize_profile(profile_loc['PERFIL'])
profile_loc_original_count = len(profile_loc)
profile_loc_golden = profile_loc[profile_loc['profile_clean'].isin(golden_profiles)].copy()
print(f"  üìä Profile_loc: {profile_loc_original_count:,} ‚Üí {len(profile_loc_golden):,} records")

# Soil profile
soil_profile['profile_clean'] = standardize_profile(soil_profile['Perfil'])
soil_profile_original_count = len(soil_profile)
soil_profile_golden = soil_profile[soil_profile['profile_clean'].isin(golden_profiles)].copy()
print(f"  üìä Soil_profile: {soil_profile_original_count:,} ‚Üí {len(soil_profile_golden):,} records")

print("‚úÖ Golden profile filtering complete!")

# ============================================================================
# SECTION 2: CLEAN AND PREPARE DATA
# ============================================================================

print("\nüßπ SECTION 2: CLEANING AND PREPARING DATA")
print("-" * 60)

# Clean samples data
print("Cleaning samples data...")
samples_golden.rename(columns={
    'Registo': 'sample_id',
    'N¬∫ Campo': 'site_info_id', 
    'Ano': 'year',
    'Perfil': 'profile_original',
    'Distrito': 'district',
    'Prateleira': 'shelf',
    'Sala': 'room'
}, inplace=True)

# Keep essential columns
samples_golden = samples_golden[[
    'sample_id', 'site_info_id', 'profile_original', 'profile_clean', 
    'year', 'district', 'shelf', 'room'
]].copy()

# Clean data types
samples_golden['sample_id'] = samples_golden['sample_id'].astype(str).str.strip()
samples_golden['site_info_id'] = samples_golden['site_info_id'].astype(str).str.strip()

print(f"  ‚úÖ Samples cleaned: {len(samples_golden):,} records")

# Clean morphology data
print("Cleaning morphology data...")
morphology_golden.rename(columns={
    'Morfo_id': 'horizon_id',
    'Amostra': 'sample_id',
    'Perfil': 'profile_original',
    'CM': 'horizon_layer',
    'Limite Superior': 'upper_depth',
    'Limite inferior': 'lower_depth',
    'Textura': 'texture',
    'Tipo de estrutura': 'structure_type'
}, inplace=True)

# Clean sample_id in morphology (remove decimals, handle NULLs)
def clean_sample_id(x):
    if pd.isna(x) or str(x).upper() == 'NULL':
        return None
    try:
        # Remove decimal parts like your original cleaning
        return str(int(float(str(x).replace('.0', ''))))
    except:
        return str(x).strip()

morphology_golden['sample_id_clean'] = morphology_golden['sample_id'].apply(clean_sample_id)

# Keep essential columns
morphology_golden = morphology_golden[[
    'horizon_id', 'sample_id', 'sample_id_clean', 'profile_original', 'profile_clean',
    'horizon_layer', 'upper_depth', 'lower_depth', 'texture', 'structure_type'
]].copy()

print(f"  ‚úÖ Morphology cleaned: {len(morphology_golden):,} records")
print(f"      - Non-null sample_ids: {morphology_golden['sample_id_clean'].notna().sum():,}")
print(f"      - NULL sample_ids: {morphology_golden['sample_id_clean'].isna().sum():,}")

# Clean profile location data
print("Cleaning profile location data...")
profile_loc_golden.rename(columns={
    'PERFIL': 'profile_original',
    'X_COORD': 'X_coord',
    'Y_COORD': 'Y_coord',
    'PRO': 'district'
}, inplace=True)

# Add primary key
profile_loc_golden.insert(0, 'site_info_id', range(1, len(profile_loc_golden) + 1))

# Keep essential columns
profile_loc_golden = profile_loc_golden[[
    'site_info_id', 'ID', 'profile_original', 'profile_clean',
    'X_coord', 'Y_coord', 'district'
]].copy()

print(f"  ‚úÖ Profile location cleaned: {len(profile_loc_golden):,} records")

# Clean analyses data
print("Cleaning analyses data...")
analyses_golden.rename(columns={
    'Amostra': 'sample_id',
    'Morfo_id': 'horizon_id',
    'Analise-id': 'analysis_id',
    'PERFIL': 'profile_original'
}, inplace=True)

# Clean sample_id in analyses
analyses_golden['sample_id_clean'] = analyses_golden['sample_id'].apply(clean_sample_id)

# Add lab_sample_id
analyses_golden.insert(0, 'lab_sample_id', range(1, len(analyses_golden) + 1))

print(f"  ‚úÖ Analyses cleaned: {len(analyses_golden):,} records")

print("‚úÖ Data cleaning complete!")

# ============================================================================
# SECTION 3: FIX SAMPLE-HORIZON LINKS
# ============================================================================

print("\nüîó SECTION 3: FIXING SAMPLE-HORIZON LINKS")
print("-" * 60)

# Create sample_id to horizon_id mapping from morphology
print("Creating sample-horizon mapping...")

# Remove null sample_ids from morphology for mapping
morpho_for_mapping = morphology_golden[morphology_golden['sample_id_clean'].notna()].copy()

# Create mapping dictionary: sample_id ‚Üí horizon_id
sample_to_horizon = {}
for _, row in morpho_for_mapping.iterrows():
    sample_id = row['sample_id_clean']
    horizon_id = row['horizon_id']
    profile = row['profile_clean']
    
    # Use profile + sample_id as key for more specificity
    key = f"{profile}_{sample_id}"
    sample_to_horizon[key] = horizon_id
    
    # Also add just sample_id as fallback
    if sample_id not in sample_to_horizon:
        sample_to_horizon[sample_id] = horizon_id

print(f"  üìã Created mapping for {len(sample_to_horizon):,} sample-horizon relationships")

# Apply mapping to samples
def get_horizon_id(row):
    sample_id = str(row['sample_id']).strip()
    profile = row['profile_clean']
    
    # Try profile + sample_id first
    key = f"{profile}_{sample_id}"
    if key in sample_to_horizon:
        return sample_to_horizon[key]
    
    # Try just sample_id
    if sample_id in sample_to_horizon:
        return sample_to_horizon[sample_id]
    
    return None

samples_golden['horizon_id'] = samples_golden.apply(get_horizon_id, axis=1)

# Check results
linked_samples = samples_golden['horizon_id'].notna().sum()
total_samples = len(samples_golden)
link_rate = (linked_samples / total_samples) * 100

print(f"  ‚úÖ Sample-horizon linking results:")
print(f"      - Total samples: {total_samples:,}")
print(f"      - Successfully linked: {linked_samples:,}")
print(f"      - Link rate: {link_rate:.1f}%")
print(f"      - Unlinked samples: {total_samples - linked_samples:,}")

# ============================================================================
# SECTION 4: FIX PROFILE-SITE LINKS  
# ============================================================================

print("\nüåç SECTION 4: FIXING PROFILE-SITE LINKS")
print("-" * 60)

# Create profile to site_info_id mapping
print("Creating profile-site mapping...")

# Create mapping from profile_loc: profile ‚Üí site_info_id
profile_to_site = dict(zip(profile_loc_golden['profile_clean'], profile_loc_golden['site_info_id']))

print(f"  üìã Created mapping for {len(profile_to_site):,} profile-site relationships")

# Apply to samples (add site_info_id)
samples_golden['site_info_id_mapped'] = samples_golden['profile_clean'].map(profile_to_site)

# Check if existing site_info_id matches mapped one
site_match_rate = (samples_golden['site_info_id'] == samples_golden['site_info_id_mapped'].astype(str)).sum()
print(f"  üìä Existing vs mapped site_info_id match rate: {site_match_rate}/{len(samples_golden)}")

# Use mapped site_info_id
samples_golden['site_info_id_final'] = samples_golden['site_info_id_mapped']

# Apply to morphology (add site_info_id)
morphology_golden['site_info_id'] = morphology_golden['profile_clean'].map(profile_to_site)

# Apply to analyses (add site_info_id)  
analyses_golden['site_info_id'] = analyses_golden['profile_clean'].map(profile_to_site)

print("‚úÖ Profile-site linking complete!")

# ============================================================================
# SECTION 5: CREATE COMPOSITE KEYS
# ============================================================================

print("\nüîë SECTION 5: CREATING COMPOSITE KEYS")
print("-" * 60)

# 1. Site composite keys
print("Creating site composite keys...")
def create_site_key(row):
    if pd.notna(row['X_coord']) and pd.notna(row['Y_coord']):
        x_clean = f"{row['X_coord']:.4f}".replace('.', 'p').replace('-', 'n')
        y_clean = f"{row['Y_coord']:.4f}".replace('.', 'p').replace('-', 'n')
        district = str(row.get('district', 'UNK')).replace(' ', '_').replace('/', '_')
        return f"SITE_{x_clean}_{y_clean}_{district}"
    else:
        profile_clean = str(row['profile_clean']).replace('/', '_').replace(' ', '_')
        return f"SITE_PROF_{profile_clean}"

profile_loc_golden['composite_site_key'] = profile_loc_golden.apply(create_site_key, axis=1)
print(f"  ‚úÖ Created {len(profile_loc_golden)} site composite keys")

# 2. Profile composite keys
print("Creating profile composite keys...")
# Create site mapping for profiles
site_key_mapping = dict(zip(profile_loc_golden['profile_clean'], profile_loc_golden['composite_site_key']))

def create_profile_key(row):
    profile_clean = str(row['profile_clean']).replace('/', '_').replace(' ', '_')
    site_key = site_key_mapping.get(row['profile_clean'], 'UNKNOWN_SITE')
    return f"PROF_{site_key}_{profile_clean}"

# Apply to all relevant tables
samples_golden['composite_profile_key'] = samples_golden.apply(create_profile_key, axis=1)
morphology_golden['composite_profile_key'] = morphology_golden.apply(create_profile_key, axis=1)
analyses_golden['composite_profile_key'] = analyses_golden.apply(create_profile_key, axis=1)

print(f"  ‚úÖ Created profile composite keys for all tables")

# 3. Horizon composite keys
print("Creating horizon composite keys...")
def create_horizon_key(row):
    profile_key = row['composite_profile_key']
    layer = int(row.get('horizon_layer', 0)) if pd.notna(row.get('horizon_layer')) else 0
    upper = int(row.get('upper_depth', 0)) if pd.notna(row.get('upper_depth')) else 0
    lower = int(row.get('lower_depth', 999)) if pd.notna(row.get('lower_depth')) else 999
    
    return f"HOR_{profile_key}_L{layer}_D{upper}to{lower}"

morphology_golden['composite_horizon_key'] = morphology_golden.apply(create_horizon_key, axis=1)
print(f"  ‚úÖ Created {len(morphology_golden)} horizon composite keys")

# 4. Sample composite keys
print("Creating sample composite keys...")
# Create horizon mapping for samples
horizon_key_mapping = {}
for _, row in morphology_golden.iterrows():
    if pd.notna(row['sample_id_clean']):
        horizon_key_mapping[row['sample_id_clean']] = row['composite_horizon_key']

def create_sample_key(row):
    sample_id = str(row['sample_id']).strip()
    profile_key = row['composite_profile_key']
    
    # Try to get horizon key
    horizon_key = horizon_key_mapping.get(sample_id, '')
    
    if horizon_key:
        return f"SAMP_{sample_id}_{horizon_key}"
    else:
        # Fallback: use profile + year + storage
        year = str(int(row['year'])) if pd.notna(row['year']) else 'UNK'
        shelf = str(row.get('shelf', 'X'))
        room = str(row.get('room', 'X'))
        return f"SAMP_{sample_id}_{profile_key}_{year}_{shelf}_{room}"

samples_golden['composite_sample_key'] = samples_golden.apply(create_sample_key, axis=1)
print(f"  ‚úÖ Created {len(samples_golden)} sample composite keys")

# 5. Analysis composite keys  
print("Creating analysis composite keys...")
# Create sample mapping for analyses
sample_key_mapping = dict(zip(samples_golden['sample_id'], samples_golden['composite_sample_key']))

def create_analysis_key(row):
    sample_id = str(row['sample_id_clean']) if pd.notna(row['sample_id_clean']) else str(row['sample_id'])
    sample_key = sample_key_mapping.get(sample_id, f"SAMP_UNKNOWN_{sample_id}")
    lab_id = str(row['lab_sample_id'])
    analysis_id = str(row.get('analysis_id', 'STD'))
    
    return f"ANAL_{sample_key}_{lab_id}_{analysis_id}"

analyses_golden['composite_analysis_key'] = analyses_golden.apply(create_analysis_key, axis=1)
print(f"  ‚úÖ Created {len(analyses_golden)} analysis composite keys")

print("‚úÖ All composite keys created!")

# ============================================================================
# SECTION 6: HANDLE DUPLICATES AND VALIDATE
# ============================================================================

print("\nüîç SECTION 6: VALIDATING COMPOSITE KEYS")
print("-" * 60)

def check_and_fix_duplicates(df, key_column, table_name):
    """Check for duplicate keys and add sequence numbers if needed"""
    duplicates = df[key_column].duplicated()
    
    if duplicates.any():
        duplicate_count = duplicates.sum()
        print(f"  ‚ö†Ô∏è Found {duplicate_count} duplicate keys in {table_name}")
        
        # Add sequence numbers to duplicates
        df['_seq'] = df.groupby(key_column).cumcount() + 1
        mask = df['_seq'] > 1
        df.loc[mask, key_column] = df.loc[mask, key_column] + '_SEQ' + df.loc[mask, '_seq'].astype(str)
        df = df.drop('_seq', axis=1)
        
        print(f"    ‚úÖ Fixed duplicates with sequence numbers")
    else:
        print(f"  ‚úÖ No duplicates in {table_name}")
    
    return df

# Check all tables for duplicates
samples_golden = check_and_fix_duplicates(samples_golden, 'composite_sample_key', 'samples')
morphology_golden = check_and_fix_duplicates(morphology_golden, 'composite_horizon_key', 'morphology')
analyses_golden = check_and_fix_duplicates(analyses_golden, 'composite_analysis_key', 'analyses')
profile_loc_golden = check_and_fix_duplicates(profile_loc_golden, 'composite_site_key', 'profile_loc')

# Validate key uniqueness
print("\nüìä Key uniqueness validation:")
print(f"  Site keys: {profile_loc_golden['composite_site_key'].nunique()}/{len(profile_loc_golden)}")
print(f"  Profile keys: {samples_golden['composite_profile_key'].nunique()}/{len(samples_golden)}")
print(f"  Horizon keys: {morphology_golden['composite_horizon_key'].nunique()}/{len(morphology_golden)}")
print(f"  Sample keys: {samples_golden['composite_sample_key'].nunique()}/{len(samples_golden)}")
print(f"  Analysis keys: {analyses_golden['composite_analysis_key'].nunique()}/{len(analyses_golden)}")

# ============================================================================
# SECTION 7: TEST QUERIES AND ANALYSIS
# ============================================================================

print("\nüß™ SECTION 7: TESTING QUERIES AND ANALYSIS")
print("-" * 60)

# Test 1: Join samples with morphology using composite keys
print("Test 1: Joining samples with morphology...")
try:
    # Create a simplified join
    samples_for_join = samples_golden[['composite_sample_key', 'sample_id', 'profile_clean', 'year']].copy()
    morphology_for_join = morphology_golden[['composite_horizon_key', 'sample_id_clean', 'profile_clean', 'texture', 'upper_depth', 'lower_depth']].copy()
    
    # Join on sample_id (traditional way)
    traditional_join = samples_for_join.merge(
        morphology_for_join, 
        left_on='sample_id', 
        right_on='sample_id_clean',
        how='inner',
        suffixes=('_samp', '_morph')
    )
    
    print(f"  ‚úÖ Traditional join successful: {len(traditional_join):,} records")
    
    # Test sample query: pH by depth
    if len(traditional_join) > 0:
        depth_analysis = traditional_join.groupby('upper_depth').agg({
            'sample_id': 'count',
            'texture': lambda x: x.mode().iloc[0] if len(x.mode()) > 0 else 'Unknown'
        }).head(10)
        
        print("  üìä Sample analysis - Records by depth:")
        print(depth_analysis)
    
except Exception as e:
    print(f"  ‚ùå Join failed: {e}")

# Test 2: Geographic analysis
print("\nTest 2: Geographic distribution analysis...")
try:
    geo_summary = profile_loc_golden.groupby('district').agg({
        'composite_site_key': 'count',
        'X_coord': 'mean',
        'Y_coord': 'mean'
    }).round(4)
    
    print("  üìä Profiles by district:")
    print(geo_summary.head(10))
    
except Exception as e:
    print(f"  ‚ùå Geographic analysis failed: {e}")

# Test 3: Data completeness assessment
print("\nTest 3: Data completeness assessment...")

completeness_report = {
    'Table': ['Samples', 'Morphology', 'Analyses', 'Profile_loc'],
    'Total_Records': [len(samples_golden), len(morphology_golden), len(analyses_golden), len(profile_loc_golden)],
    'Composite_Keys': [
        samples_golden['composite_sample_key'].notna().sum(),
        morphology_golden['composite_horizon_key'].notna().sum(), 
        analyses_golden['composite_analysis_key'].notna().sum(),
        profile_loc_golden['composite_site_key'].notna().sum()
    ],
    'Linked_Records': [
        samples_golden['horizon_id'].notna().sum(),
        morphology_golden['sample_id_clean'].notna().sum(),
        analyses_golden['sample_id_clean'].notna().sum(),
        profile_loc_golden['X_coord'].notna().sum()
    ]
}

completeness_df = pd.DataFrame(completeness_report)
completeness_df['Completeness_%'] = (completeness_df['Linked_Records'] / completeness_df['Total_Records'] * 100).round(1)

print("  üìä Data completeness summary:")
print(completeness_df)

# ============================================================================
# SECTION 8: SAVE RESULTS
# ============================================================================

print("\nüíæ SECTION 8: SAVING RESULTS")
print("-" * 60)

# Create output directory
output_dir = "/Users/inesschwartz/GreenDataScience/Thesis/golden_profiles_output"
import os
os.makedirs(output_dir, exist_ok=True)

# Save cleaned tables with composite keys
tables_to_save = {
    'samples_golden_with_keys': samples_golden,
    'morphology_golden_with_keys': morphology_golden,
    'analyses_golden_with_keys': analyses_golden,
    'profile_loc_golden_with_keys': profile_loc_golden
}

for name, df in tables_to_save.items():
    filename = f"{output_dir}/{name}.csv"
    df.to_csv(filename, index=False)
    print(f"  üíæ Saved: {name}.csv ({len(df):,} records)")

# Save completeness report
completeness_df.to_csv(f"{output_dir}/data_completeness_report.csv", index=False)
print(f"  üíæ Saved: data_completeness_report.csv")

# Create summary report
summary_report = {
    'Analysis_Date': datetime.now().strftime('%Y-%m-%d %H:%M:%S'),
    'Golden_Profiles_Count': len(golden_profiles),
    'Total_Samples': len(samples_golden),
    'Total_Morphology_Records': len(morphology_golden),
    'Total_Analyses': len(analyses_golden),
    'Total_Sites': len(profile_loc_golden),
    'Sample_Horizon_Link_Rate': f"{link_rate:.1f}%",
    'Composite_Keys_Created': True,
    'Data_Quality': 'HIGH - All profiles appear in all 5 tables'
}

with open(f"{output_dir}/analysis_summary.txt", 'w') as f:
    for key, value in summary_report.items():
        f.write(f"{key}: {value}\n")

print(f"  üíæ Saved: analysis_summary.txt")

# ============================================================================
# SECTION 9: FINAL SUMMARY AND RECOMMENDATIONS
# ============================================================================

print("\nüéâ FINAL SUMMARY")
print("=" * 60)
print(f"‚úÖ Successfully processed {len(golden_profiles)} golden profiles")
print(f"‚úÖ Created composite keys for {len(samples_golden):,} samples")
print(f"‚úÖ Linked {linked_samples:,} samples to horizons ({link_rate:.1f}% success rate)")
print(f"‚úÖ All tables now have robust composite keys")
print(f"‚úÖ Data ready for database import and analysis")

print(f"\nüìÅ Output files saved to: {output_dir}")
print(f"\nüéØ NEXT STEPS:")
print(f"  1. Review the data completeness report")
print(f"  2. Test additional queries on your clean data")
print(f"  3. Import to database using composite keys as primary keys")
print(f"  4. Expand to the additional 646 'good match' profiles when ready")

print(f"\nüåü You now have a clean, linked subset representing your highest quality soil data!")

üåü GOLDEN PROFILES ANALYSIS
==================================================
Working with 1,109 profiles that appear in ALL tables
Goal: Create clean, linked database with composite keys
==================================================

üìÇ SECTION 1: LOADING DATA AND FILTERING TO GOLDEN PROFILES
------------------------------------------------------------
Loading original data files...
‚úÖ Original data loaded successfully
‚úÖ Loaded 1100 golden profiles
Sample golden profiles: ['100_58', '100_59', '100_61', '100_63', '101A_58']

üßπ Standardizing profile names...
  üìä Samples: 14,715 ‚Üí 5,649 records
  üìä Analyses: 7,847 ‚Üí 5,474 records
  üìä Morphology: 10,434 ‚Üí 5,328 records
  üìä Profile_loc: 4,321 ‚Üí 1,100 records
  üìä Soil_profile: 2,518 ‚Üí 1,100 records
‚úÖ Golden profile filtering complete!

üßπ SECTION 2: CLEANING AND PREPARING DATA
------------------------------------------------------------
Cleaning samples data...
  ‚úÖ Samples cleaned: 5,649 records
Cleaning morphology data...
  ‚úÖ Morphology cleaned: 5,328 records
      - Non-null sample_ids: 4,256
      - NULL sample_ids: 1,072
Cleaning profile location data...
  ‚úÖ Profile location cleaned: 1,100 records
Cleaning analyses data...
  ‚úÖ Analyses cleaned: 5,474 records
‚úÖ Data cleaning complete!

üîó SECTION 3: FIXING SAMPLE-HORIZON LINKS
------------------------------------------------------------
Creating sample-horizon mapping...
  üìã Created mapping for 8,508 sample-horizon relationships
  ‚úÖ Sample-horizon linking results:
      - Total samples: 5,649
      - Successfully linked: 4,144
      - Link rate: 73.4%
      - Unlinked samples: 1,505

üåç SECTION 4: FIXING PROFILE-SITE LINKS
------------------------------------------------------------
Creating profile-site mapping...
  üìã Created mapping for 1,100 profile-site relationships
  üìä Existing vs mapped site_info_id match rate: 2/5649
‚úÖ Profile-site linking complete!

üîë SECTION 5: CREATING COMPOSITE KEYS
------------------------------------------------------------
Creating site composite keys...
  ‚úÖ Created 1100 site composite keys
Creating profile composite keys...
  ‚úÖ Created profile composite keys for all tables
Creating horizon composite keys...
  ‚úÖ Created 5328 horizon composite keys
Creating sample composite keys...
  ‚úÖ Created 5649 sample composite keys
Creating analysis composite keys...
  ‚úÖ Created 5474 analysis composite keys
‚úÖ All composite keys created!

üîç SECTION 6: VALIDATING COMPOSITE KEYS
------------------------------------------------------------
  ‚úÖ No duplicates in samples
  ‚úÖ No duplicates in morphology
  ‚úÖ No duplicates in analyses
  ‚ö†Ô∏è Found 4 duplicate keys in profile_loc
    ‚úÖ Fixed duplicates with sequence numbers

üìä Key uniqueness validation:
  Site keys: 1100/1100
  Profile keys: 1100/5649
  Horizon keys: 5328/5328
  Sample keys: 5649/5649
  Analysis keys: 5474/5474

üß™ SECTION 7: TESTING QUERIES AND ANALYSIS
------------------------------------------------------------
Test 1: Joining samples with morphology...
  ‚úÖ Traditional join successful: 4,146 records
  üìä Sample analysis - Records by depth:
             sample_id                         texture
upper_depth
0.0                825                         Arenoso
0.5                  1  Franco-argiloso pouco calcario
2.0                  2           Franco-argilo-arenoso
3.0                  6                        Argiloso
4.0                  9                  Arenoso-franco
5.0                 20                  Arenoso-franco
6.0                 35                         Arenoso
7.0                 39                         Arenoso
8.0                 83                         Arenoso
9.0                 55                         Arenoso

Test 2: Geographic distribution analysis...
  üìä Profiles by district:
                composite_site_key  X_coord  Y_coord
district
Bengo                            5  13.5269  -9.7337
Benguela                       129  13.8761 -12.5125
Bi√©                             73  16.5177 -11.9381
CUANDO-CUBANGO                   1  16.8183 -14.9847
Cabinda                         92  12.4292  -5.0235
Cuando-Cubango                  61  18.7304 -15.6194
Cuanza Sul                     155  14.4982 -10.8277
Huila                            2  15.9377 -17.2183
Luanda                           2  13.3759  -8.9127
Lunda Norte                      2  17.3398  -9.1452

Test 3: Data completeness assessment...
  üìä Data completeness summary:
         Table  Total_Records  Composite_Keys  Linked_Records  Completeness_%
0      Samples           5649            5649            4144            73.4
1   Morphology           5328            5328            4256            79.9
2     Analyses           5474            5474            5469            99.9
3  Profile_loc           1100            1100            1099            99.9

üíæ SECTION 8: SAVING RESULTS
------------------------------------------------------------
  üíæ Saved: samples_golden_with_keys.csv (5,649 records)
  üíæ Saved: morphology_golden_with_keys.csv (5,328 records)
  üíæ Saved: analyses_golden_with_keys.csv (5,474 records)
  üíæ Saved: profile_loc_golden_with_keys.csv (1,100 records)
  üíæ Saved: data_completeness_report.csv
  üíæ Saved: analysis_summary.txt

üéâ FINAL SUMMARY
============================================================
‚úÖ Successfully processed 1100 golden profiles
‚úÖ Created composite keys for 5,649 samples
‚úÖ Linked 4,144 samples to horizons (73.4% success rate)
‚úÖ All tables now have robust composite keys
‚úÖ Data ready for database import and analysis

üìÅ Output files saved to: /Users/inesschwartz/GreenDataScience/Thesis/golden_profiles_output

üéØ NEXT STEPS:
  1. Review the data completeness report
  2. Test additional queries on your clean data
  3. Import to database using composite keys as primary keys
  4. Expand to the additional 646 'good match' profiles when ready

üåü You now have a clean, linked subset representing your highest quality soil data!

# Samples table

In [4]:
import pandas as pd

# Load original dataset
samples = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/AmostrasAngolaTerrario.xlsx")

# This will show all rows that are duplicates (keep=False shows all duplicates, not just subsequent ones)
duplicates1 = samples[samples.duplicated('Registo',keep=False)]
print(duplicates1)

Empty DataFrame
Columns: [Registo, N¬∫ Campo, Ano, Perfil, Campanha, Col√≥nia_Pais, Distrito, AmostraCrivada, Prov√≠ncia, AmostraNaoCrivada, Prateleira, Sala, Obs]
Index: []

In [5]:
# Rename columns for clarity
samples.rename(columns={
    'Registo': 'sample_id',
    'N¬∫ Campo': 'site_info_id',
    'Ano': 'year',
    'Perfil': 'profile',
    'Campanha': 'campaign',
    'Col√≥nia_Pais': 'country',
    'Distrito': 'district',
    'AmostraCrivada': 'sample_sifted',
    'AmostraNaoCrivada': 'sample_not_sifted',
    'Prateleira': 'shelf',
    'Sala': 'room'
}, inplace=True)

# Drop unused columns
samples_cleaning = samples.drop(columns=[
    'campaign', 'country', 'Prov√≠ncia', 'sample_not_sifted', 'sample_sifted', 'Obs'
], errors='ignore')

# # Add a new Primary Key ID column starting from 1
# samples_cleaning.insert(0, 'sample_id', range(1, len(samples_cleaning) + 1))

# Add empty FK columns
samples_cleaning['lab_info_id'] = pd.NA
samples_cleaning['horizon_id'] = pd.NA
samples_cleaning['profile_record_id'] = pd.NA

In [6]:
samples_cleaning.head()

,sample_id,site_info_id,year,profile,district,shelf,room,lab_info_id,horizon_id,profile_record_id
0,630,172,1946.0,139,Huambo,1,22,<NA>,<NA>,<NA>
1,631,173,1946.0,139,Huambo,1,22,<NA>,<NA>,<NA>
2,632,174,1946.0,139,Huambo,1,22,<NA>,<NA>,<NA>
3,633,175,1946.0,139,Huambo,1,22,<NA>,<NA>,<NA>
4,687,1034,1946.0,208,Huambo,1,22,<NA>,<NA>,<NA>

In [7]:
samples_cleaning.dtypes

sample_id              int64
site_info_id          object
year                 float64
profile               object
district              object
shelf                 object
room                  object
lab_info_id           object
horizon_id            object
profile_record_id     object
dtype: object

In [8]:
# Ensure consistent types and formatting
samples_cleaning['profile'] = samples_cleaning['profile'].astype(str).str.replace('/', '_').str.strip().str[:20]
samples_cleaning['shelf'] = samples_cleaning['shelf'].astype("string")

#formatting site_info_id
samples_cleaning['site_info_id'] = samples_cleaning['site_info_id'].astype(str).str.replace('/', '_').str.strip().str[:20]

# Convert sample_id to string (no truncation unless necessary)
samples_cleaning['sample_id'] = samples_cleaning['sample_id'].astype(str).str.strip()

# Check for duplicates AFTER conversion
duplicate_ids = samples_cleaning[samples_cleaning.duplicated('sample_id', keep=False)]
print("üîç Duplicate sample_id values:")
print(duplicate_ids[['sample_id']])

samples_cleaning1 = samples_cleaning

üîç Duplicate sample_id values:
Empty DataFrame
Columns: [sample_id]
Index: []

Checking which profiles match

In [9]:
samples_cleaning1.dtypes

sample_id                    object
site_info_id                 object
year                        float64
profile                      object
district                     object
shelf                string[python]
room                         object
lab_info_id                  object
horizon_id                   object
profile_record_id            object
dtype: object

In [10]:
# Reorder to match DB schema
samples_check = samples_cleaning1[[
    'sample_id',
    'site_info_id',
    'profile_record_id',
    'profile',
    'horizon_id',
    'shelf',
    'room',
    'year'
]]

samples_check.head()

,sample_id,site_info_id,profile_record_id,profile,horizon_id,shelf,room,year
0,630,172,<NA>,139,<NA>,1,22,1946.0
1,631,173,<NA>,139,<NA>,1,22,1946.0
2,632,174,<NA>,139,<NA>,1,22,1946.0
3,633,175,<NA>,139,<NA>,1,22,1946.0
4,687,1034,<NA>,208,<NA>,1,22,1946.0

In [11]:
samples_check.dtypes

sample_id                    object
site_info_id                 object
profile_record_id            object
profile                      object
horizon_id                   object
shelf                string[python]
room                         object
year                        float64
dtype: object

In [12]:
samples_check.to_csv("/Users/inesschwartz/Desktop/samples_check.csv", index=False)

# Lab_Info  table

In [13]:
analyses.columns

Index(['Amostra', 'ID', 'Morfo_id', 'Analise-id', 'PERFIL', 'GR', 'COD_PROV',
       'NA', 'LS', 'LI', 'EG', 'AG', 'AF', 'L', 'Argila', 'Eq_Hum', 'atm_1/3',
       'atm_15', 'CACO3', 'Gesso', 'Fe livre', 'CO', 'N total', 'C/N', 'MO',
       'P205 total', 'pH (H2O)', 'pH(KCL)', 'Ca++', 'Mg++', 'K+', 'Na+',
       'Soma de bases', 'CTC', 'V', 'Cloretos', 'Sulfatos', 'Condutividade',
       'S√≥dio sol√∫vel', 'EqMol (SiO2)', 'EqMol(Al2O3)', 'EqMol(Fe2O3)',
       'SiO2/Al2O3', 'SiO2/Fe2O3', 'SiO2/R2O3', 'Fe2O3/Al2O3', 'FE2O3_TARG',
       'FE2O3_LARG', 'CEC_ARG', 'Min_<0,002', 'Min_0,05-0,02', 'Min_0,2-0,05',
       'Min_2-0,2', 'Confirmar', 'profile_clean'],
      dtype='object')

In [14]:
#change column names
analyses.rename(columns={
    'Amostra': 'sample_id',
    'Morfo_id': 'horizon_id',
    'Analise-id': 'analysis_id',
    'PERFIL': 'profile', #change to reference PK profile_record_id
    'LS': 'upper_limit',
    'LI': 'lower_limit',
    'EG': 'EG',
    'AG': 'thick_clay',
    'AF': 'fine_clay',
    'Argila': 'clay',
    'L': 'silt',
    'Gesso': 'gypsum',
    'Fe livre': 'free_iron',
    'CO':'organic_carbon',
    'N total': 'total_N',
    'MO': 'OM',
    'Soma de bases': 'exchangable_bases_sum',
    'CTC': 'CEC',
    'Cloretos':'chlorides',
    'Sulfatos':'sulfates',
    'Condutividade':'conductivity',
    'S√≥dio sol√∫vel':'soluble_sodium',
    'P205 total': 'P205',
    'pH (H2O)':'pH_H2O',
    'pH(KCL)':'pH_KCL',
    'MO': 'organic_material',
    'atm_1/3': 'atm_1_3',
    'Ca++': 'Ca',
    'Mg++': 'Mg',
    'Na+': 'Na',
    'K+': 'K',
    'Min_<0,002': 'Min_lt_0002',
    'Min_0,05-0,02': 'Min_005_002',
    'Min_0,2-0,05': 'Min_02_005',
    'Min_2-0,2': 'Min_2_02',
}, inplace=True)

# Drop columns not needed
analyses_drop = analyses.drop([
    'EqMol (SiO2)', 'EqMol(Al2O3)', 'EqMol(Fe2O3)', 'SiO2/Al2O3', 
    'SiO2/Fe2O3', 'SiO2/R2O3', 'Fe2O3/Al2O3', 'FE2O3_TARG', 
    'FE2O3_LARG', 'CEC_ARG', 'GR', 'COD_PROV'
], axis=1)

In [15]:
# Add a new Primary Key ID column starting from 1
#drop lab_sample_id if already exist error comes up
# Check if 'lab_sample_id' exists and drop it
if 'lab_sample_id' in analyses_drop.columns:
    analyses_drop = analyses_drop.drop(columns=['lab_sample_id'])

# Insert a new column, e.g., 'lab_sample_id' as a primary key starting from 1
analyses_drop.insert(0, 'lab_sample_id', range(1, len(analyses_drop) + 1))


#add minerology_id column
analyses_drop['minerology_id'] = pd.NA
#add soil_biology_id column (just in case)
analyses_drop['soil_biology_id'] = pd.NA


#Define the desired final column order
final_columns = [
    'lab_sample_id',
    'ID',
    'analysis_id',
    'horizon_id',
    'sample_id',
    'profile',
    'minerology_id',
    'soil_biology_id',
    'EG',
    'thick_clay',
    'fine_clay',
    'silt',
    'clay',
    'Eq_Hum',
    'atm_1_3',
    'atm_15',
    'CACO3',
    'gypsum',
    'free_iron',
    'organic_carbon',
    'total_N',
    'P205',
    'organic_material',
    'pH_H2O',
    'pH_KCL',
    'Ca',
    'Mg',
    'Na',
    'K',
    'exchangable_bases_sum',
    'CEC',
    'V',
    'conductivity',
    'soluble_sodium',
    'Min_lt_0002',
    'Min_005_002',
    'Min_02_005',
    'Min_2_02',
]

analyses1 = analyses_drop[final_columns]

In [16]:
#address nulls 
# Show count of NaN values in each column
nan_counts = analyses1.isna().sum()

# Filter to show only columns with at least one NaN
nan_columns = nan_counts[nan_counts > 0]

# Print them
print("üîç Columns with NaN values:")
print(nan_columns)

üîç Columns with NaN values:
sample_id                  19
minerology_id            7847
soil_biology_id          7847
EG                       4910
thick_clay                448
fine_clay                 390
silt                      430
clay                      420
Eq_Hum                   2297
atm_1_3                  7469
atm_15                   5689
CACO3                    7334
gypsum                   7815
free_iron                2792
organic_carbon           2395
total_N                  6259
P205                     5464
organic_material         2413
pH_H2O                    684
pH_KCL                   1749
Ca                       3018
Mg                       3025
Na                       3024
K                        2995
exchangable_bases_sum    6740
CEC                      2423
V                        2476
conductivity             7201
soluble_sodium           1270
Min_lt_0002              7517
Min_005_002              7719
Min_02_005               7723
Min_2_02                 7810
dtype: int64

In [17]:
#formatting and checking for duplicates
# Make a safe copy
analyses1 = analyses_drop[final_columns].copy()

# Convert sample_id to numeric, coercing errors to NaN
analyses1['sample_id'] = pd.to_numeric(analyses1['sample_id'], errors='coerce')

# Drop rows with NaN in sample_id to avoid int conversion error
analyses1 = analyses1.dropna(subset=['sample_id'])

# Convert to int, then to str
analyses1['sample_id'] = analyses1['sample_id'].astype(int).astype(str)

# Clean the profile column
analyses1['profile'] = (
    analyses1['profile']
    .astype(str)
    .str.replace('/', '_')
    .str.strip()
    .str[:20]
)

# Alias to another variable
analyses2 = analyses1

In [18]:
# Filter out and print duplicated samples (including the first occurrence)
duplicated_values = analyses2['sample_id'][analyses2['sample_id'].duplicated()].unique()
print(duplicated_values)

['10337' '11608' '3497' '3498' '2923' '2924' '2925' '2926' '2927' '2928'
 '2929' '2930' '16355' '16356' '419' '420' '15682' '13817' '75' '13965'
 '3418' '9230' '8639' '3529']

In [19]:
# 1. Ensure sample_id and analysis_id are strings
analyses2['sample_id'] = analyses2['sample_id'].astype(str).str.strip()
analyses2['analysis_id'] = analyses2['analysis_id'].astype(str).str.strip()

# 2. Correct duplicates for sample_id '11608'
mask_11608 = analyses2['sample_id'] == '11608'
analyses2.loc[mask_11608, 'sample_id'] = [
    f"11608_{i+1}" for i in range(mask_11608.sum())
]

# 3. Remove duplicate for sample_id '3497' (keep first occurrence only)
duplicates_3497 = analyses2[analyses2['sample_id'] == '3497']
if len(duplicates_3497) > 1:
    indices_to_drop = duplicates_3497.index[1:]
    analyses2 = analyses2.drop(indices_to_drop)

# 4. Correct sample_id ‚Üí analysis_id assignments for specific sample_ids
id_map = {
    'UZ_24c/60_1_1': '8639',
    'UZ_24c/60_2_1': '8640',
    'UZ_24c/60_3_1': '8641',
    'UZ_24c/60_4_1': '8642',
    'UZ_24c/60_5_1': '8643'
}

# Apply mapping to update analysis_id based on sample_id
analyses2['analysis_id'] = analyses2.apply(
    lambda row: id_map.get(row['sample_id'], row['analysis_id']),
    axis=1
)

print("‚úÖ Sample ID corrections applied.")

‚úÖ Sample ID corrections applied.

In [20]:
#drop unwanted/un-needed duplicates or erroneous reccords

# Drop second row where sample_id == '3497'
indices = analyses2.index[analyses2['sample_id'] == '3497'].tolist()
if len(indices) > 1:
    analyses2 = analyses2.drop(indices[1])

# Drop second row where sample_id == '3497'
indices = analyses2.index[analyses2['sample_id'] == '13817'].tolist()
if len(indices) > 1:
    analyses2 = analyses2.drop(indices[1])

# drop second row where sample_id == '8639'
indices = analyses2.index[analyses2['sample_id'] == '8639'].tolist()
if len(indices) > 1:
    analyses2 = analyses2.drop(indices[1])

#Drop second row where sample_id =='2923-2930'
# Ensure sample_id is string for consistent comparison
analyses2['sample_id'] = analyses2['sample_id'].astype(str)

# Define the sample_ids to clean duplicates for
target_ids = [str(i) for i in range(2923, 2931)]

# Identify and drop the second occurrence of each
for sid in target_ids:
    matches = analyses2.index[analyses2['sample_id'] == sid].tolist()
    if len(matches) > 1:
        # Drop the second occurrence (index 1 in the list)
        analyses2 = analyses2.drop(matches[1])
        print(f"üóë Dropped second occurrence of sample_id {sid}")


# Ensure sample_id is string for correct matching
analyses2['sample_id'] = analyses2['sample_id'].astype(str)

# List of sample_ids to drop (as strings)
sample_ids_to_drop = [
    '4247', '4248', '4249', '4250', '4251', '4252', '4253', '4254',  # invalid samples
    '5533', '6636', '6637', '6638', '6639',
    '6875', '7361',
    '3012', '3013', '3014', '3015', '3016',
    '3049', '3050', '3051', '3052', '3053', '3054', '419', '420', '421', '422'
]

# Drop rows where sample_id is in the list
analyses2 = analyses2[~analyses2['sample_id'].isin(sample_ids_to_drop)]

üóë Dropped second occurrence of sample_id 2923
üóë Dropped second occurrence of sample_id 2924
üóë Dropped second occurrence of sample_id 2925
üóë Dropped second occurrence of sample_id 2926
üóë Dropped second occurrence of sample_id 2927
üóë Dropped second occurrence of sample_id 2928
üóë Dropped second occurrence of sample_id 2929
üóë Dropped second occurrence of sample_id 2930

In [21]:
# Ensure both 'lab_sample_id' and 'sample_id' columns exist
assert 'lab_sample_id' in analyses2.columns, "Missing column: lab_sample_id"
assert 'sample_id' in analyses2.columns, "Missing column: sample_id"

# Step 1: Ensure lab_sample_id is string so comparison works
analyses2['lab_sample_id'] = analyses2['lab_sample_id'].astype(str)

# Step 2: Manual corrections mapping
manual_corrections = {
    '66': 10377,
    '4219': 3497,
    '4221': 3498,   # same sample, different depths
    '4222': 3499,
    '4747': 16255,
    '4748': 16256,
    '5010': 15862,
    '6802': 13695,
    '7255': 8230,
    '7686': 8529,
    '6875': 3419,
    '6638': 75_1,
}

# Step 3: Apply manual corrections
for lab_id, sample_id in manual_corrections.items():
    matches = analyses2['lab_sample_id'] == lab_id
    if matches.sum() == 0:
        print(f"‚ö†Ô∏è Warning: lab_sample_id {lab_id} not found in data.")
    else:
        analyses2.loc[matches, 'sample_id'] = sample_id

# Step 4: Summary after correction
print("‚úÖ Manual sample_id corrections applied.")
print(f"Remaining rows: {len(analyses2)}")
print(f"Missing sample_id entries: {analyses2['sample_id'].isna().sum()}")

# Optional: Show which rows are still missing sample_id
missing_sample_ids = analyses2[analyses2['sample_id'].isna()]
if not missing_sample_ids.empty:
    print("üîç Rows with missing sample_id after correction:")
    print(missing_sample_ids[['lab_sample_id', 'sample_id']])

‚úÖ Manual sample_id corrections applied.
Remaining rows: 7798
Missing sample_id entries: 0

In [22]:
# Find rows with missing sample_id
missing_sample_id_rows = analyses2[analyses2['sample_id'].isna()]

# Print how many are missing
print(f"‚ùå Missing sample_id in {len(missing_sample_id_rows)} rows.")

# Show the unique lab_sample_id values that are missing a sample_id
print("üîç lab_sample_id values with missing sample_id:")
print(missing_sample_id_rows['lab_sample_id'].unique())

# Optional: Save to CSV for review
#missing_sample_id_rows.to_csv("missing_sample_ids.csv", index=False)

‚ùå Missing sample_id in 0 rows.
üîç lab_sample_id values with missing sample_id:
[]

In [23]:
print("NaN sample_id rows:", analyses2['sample_id'].isna().sum())

NaN sample_id rows: 0

In [24]:
# Drop rows with missing sample_id (NaN only)
analyses2 = analyses2[analyses2['sample_id'].notna()].copy()

In [25]:
print(f"‚úÖ Updated analyses2 has {len(analyses2)} rows.")

‚úÖ Updated analyses2 has 7798 rows.

In [26]:
analyses3 = analyses2

In [27]:
# Filter out and print duplicated samples (including the first occurrence)
duplicated_values = analyses3['sample_id'][analyses3['sample_id'].duplicated()].unique()
print(duplicated_values)

[]

In [28]:
#double checking null sample_id's
# Step 1: Ensure sample_id is a string for consistent comparison
analyses3['sample_id'] = analyses3['sample_id'].astype(str).str.strip()

# Step 2: Define mask for all "null-like" values
null_like_mask = analyses3['sample_id'].isin(['', '0', 'NULL', 'NaN', 'nan', 'None']) | analyses3['sample_id'].isna()

# Step 3: Count and list unique problematic values
null_sample_ids = analyses3[null_like_mask]['sample_id'].unique()
null_count = null_like_mask.sum()

# Step 4: Output results
print(f"üîç Number of null-like sample_id values: {null_count}")
print("‚ö†Ô∏è Unique null-like sample_id values found:")
print(null_sample_ids)

üîç Number of null-like sample_id values: 0
‚ö†Ô∏è Unique null-like sample_id values found:
[]

## joining elemental analyses to analyses

In [29]:
# Rename and clean sample_id as before
elemental_analyses.rename(columns={'Lab. Code': 'sample_id'}, inplace=True)

# Convert to string to clean text
sample_id_cleaned = elemental_analyses['sample_id'].astype(str)
sample_id_cleaned = sample_id_cleaned.str.replace('C-', '', regex=False)
sample_id_cleaned = sample_id_cleaned.str.replace(' MNL', '', regex=False)

# Convert to numeric with coercion (NaNs will appear here)
elemental_analyses['sample_id'] = pd.to_numeric(sample_id_cleaned, errors='coerce')

# üîç Show rows where sample_id is NaN
nan_sample_ids = elemental_analyses[elemental_analyses['sample_id'].isna()]
print(f"‚ùå Found {len(nan_sample_ids)} rows with NaN sample_id:")
print(nan_sample_ids)

‚ùå Found 0 rows with NaN sample_id:
Empty DataFrame
Columns: [sample_id, Soil Profile, Code, Code.1, Depht, Sampling Date, Mg, Al, Si, P, S, Cl, K, Ca, Ti, V, Cr, Mn, Fe, Co, Ni, Cu, Zn, As, Se, Rb, Sr, Zr, Nb, Mo, Cd, Sn, Sb, Ba, Ta, W, Pt, Au, Hg, Tl, Pb, Bi, Th, U]
Index: []

[0 rows x 44 columns]

In [30]:
# Rename 'Lab. Code' to 'sample_id'
elemental_analyses.rename(columns={'Lab. Code': 'sample_id'}, inplace=True)

# Temporarily convert to string to do the replacements
sample_id_cleaned = elemental_analyses['sample_id'].astype(str)
sample_id_cleaned = sample_id_cleaned.str.replace('C-', '', regex=False)
sample_id_cleaned = sample_id_cleaned.str.replace(' MNL', '', regex=False)

# Convert cleaned values to numeric safely
elemental_analyses['sample_id'] = pd.to_numeric(sample_id_cleaned, errors='coerce')


# Convert to integer and then string for uniformity
elemental_analyses['sample_id'] = elemental_analyses['sample_id'].astype(int).astype(str)

# Rename 'Code' to 'field_sample_code'
elemental_analyses.rename(columns={'Code': 'field_sample_code'}, inplace=True)

In [31]:
analyses2['sample_id'] = analyses3['sample_id'].astype(str)

In [32]:
print (analyses3['sample_id'].dtype)
print (elemental_analyses['sample_id'].dtype)

object
object

In [33]:
#Convert sample_id to string (no truncation unless necessary)
elemental_analyses['sample_id'] = elemental_analyses['sample_id'].astype(str).str.strip()

In [34]:
# Check which sample_ids in elemental_analyses are NOT in analyses_ready
missing_ids = elemental_analyses[~elemental_analyses['sample_id'].isin(analyses3['sample_id'])]

# Display them
print("Sample IDs in elemental_analyses not found in analyses2:")
print(missing_ids['sample_id'].unique())

print(len(missing_ids['sample_id'].unique()))

Sample IDs in elemental_analyses not found in analyses2:
['16105' '16217' '16033' '16231' '16208' '16274' '16225' '15731' '16078'
 '15786' '15693' '15678' '15959' '16372' '16418' '16459' '16477' '15498'
 '15437' '12749' '13109' '14337' '14319' '15484' '15508' '15614' '15580'
 '15582' '15606' '15463' '14496' '11343' '17892' '16976' '17269' '18248'
 '16946' '17686' '17728' '17415' '17642' '18212' '17016' '17282' '18429'
 '17340' '18824' '18448' '8721' '7313' '5502' '5392' '7317' '8626' '7193'
 '7254' '7293' '8240' '15397' '14403' '14983' '16126' '15059' '15322'
 '15268' '14808' '15106']
67

LEFT JOIN ELEMENTAL ANALYSE TO ANALYSE TABLE

In [35]:
merged1 = analyses3.merge(elemental_analyses, on='sample_id', how='left')
merged1.head()

,lab_sample_id,ID,analysis_id,horizon_id,sample_id,profile,minerology_id,soil_biology_id,EG,thick_clay,...,Ta,W,Pt,Au,Hg,Tl,Pb,Bi,Th,U
0,1,21,B_101/62_1_1,B_101/62_1_1,10999,101_62,<NA>,<NA>,NaN,61.700001,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,22,B_101/62_2_1,B_101/62_2_1,11000,101_62,<NA>,<NA>,NaN,52.799999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,23,B_101/62_3_1,B_101/62_3_1,11001,101_62,<NA>,<NA>,NaN,42.500000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,24,B_101/62_4_1,B_101/62_4_1,11002,101_62,<NA>,<NA>,NaN,42.599998,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,25,B_101/62_5_21,B_101/62_5_2,11003,101_62,<NA>,<NA>,NaN,36.799999,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
print(analyses3[analyses3['sample_id'] == '6940'])
print(elemental_analyses[elemental_analyses['sample_id'] == '6940'])

     lab_sample_id    ID    analysis_id     horizon_id sample_id profile  \
1361          1362  8471  Cb_134/59_6_1  Cb_134/59_6_1      6940  134_59

     minerology_id soil_biology_id  EG  thick_clay  ...   K  \
1361          <NA>            <NA> NaN        31.1  ... NaN

      exchangable_bases_sum  CEC   V  conductivity  soluble_sodium  \
1361                    NaN  NaN NaN           NaN             0.0

      Min_lt_0002  Min_005_002  Min_02_005  Min_2_02
1361          NaN          NaN         NaN       NaN

[1 rows x 38 columns]
   sample_id Soil Profile field_sample_code Code.1      Depht Sampling Date  \
80      6940      P134/59          A-320/59  S-492  1.30-1.70    1954-08-06

             Mg             Al             Si      P  ...    Ta   W  Pt  Au  \
80  1457.666667  106266.333333  308859.666667  468.0  ...  26.0 NaN NaN NaN

           Hg   Tl         Pb  Bi         Th   U
80  10.666667  4.0  25.333333 NaN  12.333333 NaN

[1 rows x 44 columns]

In [37]:
# Define final column list
final_columns = [
    'lab_sample_id', 'analysis_id', 'horizon_id','sample_id', 'EG', 'thick_clay', 'fine_clay', 'silt', 'clay', 'Eq_Hum', 'atm_1/3', 'atm_15',
    'CACO3', 'gypsum', 'free_iron', 'organic_carbon', 'total_N', 'P205', 'organic_material', 'pH_H2O', 'pH_KCL',
    'Ca++', 'Mg++', 'Na+', 'K+', 'exchangable_bases_sum', 'CEC', 'V', 'conductivity', 'soluble_sodium', 'Min_<0,002',
    'Min_0,05-0,02', 'Min_0,2-0,05', 'Min_2-0,2', 
    'field_sample_code', 'Depth', 'Al', 'Si', 'P', 'S', 'Cl', 'Ti', 'Cr', 'Mn', 'Fe', 'Co', 'Ni', 'Cu', 'Zn',
    'As', 'Se', 'Rb', 'Sr', 'Zr', 'Nb', 'Mo', 'Cd', 'Sn', 'Sb', 'Ba', 'Ta', 'W', 'Pt', 'Au', 'Hg', 'Tl', 'Pb', 'Bi',
    'Th', 'U',
]

# Ensure all columns exist in the DataFrame
for col in final_columns:
    if col not in merged1.columns:
        merged1[col] = pd.NA  # or np.nan if preferred

# Reorder DataFrame columns
merged1 = merged1[final_columns]

# Check and print the datatypes of each column
print("Data types of each column in merged1:\n")
print(merged1.dtypes)

Data types of each column in merged1:

lab_sample_id     object
analysis_id       object
horizon_id        object
sample_id         object
EG               float64
                  ...
Tl               float64
Pb               float64
Bi               float64
Th               float64
U                float64
Length: 70, dtype: object

### Check/Change datatypes

In [38]:
# Change PK (sample_id) to a consistent datatype: Converted to string and truncate to 20 characters (similar to VARCHAR(20))
merged1['sample_id'] = merged1['sample_id'].astype(str).str.strip().str[:20]
merged1['lab_sample_id'] = merged1['lab_sample_id'].astype(str).str.strip().str[:20]

print(merged1.dtypes)

lab_sample_id     object
analysis_id       object
horizon_id        object
sample_id         object
EG               float64
                  ...
Tl               float64
Pb               float64
Bi               float64
Th               float64
U                float64
Length: 70, dtype: object

### Check and/or add FK

In [39]:
# Check if 'lab_sample_id' exists and drop it
if 'lab_sample_id' in merged1.columns:
    merged1 = merged1.drop(columns=['lab_sample_id'])

# Insert a new column, e.g., 'lab_sample_id' as a primary key starting from 1
merged1.insert(0, 'lab_sample_id', range(1, len(merged1) + 1))

### Save to CSV

In [40]:
merged1.head()

,lab_sample_id,analysis_id,horizon_id,sample_id,EG,thick_clay,fine_clay,silt,clay,Eq_Hum,...,Ta,W,Pt,Au,Hg,Tl,Pb,Bi,Th,U
0,1,B_101/62_1_1,B_101/62_1_1,10999,NaN,61.700001,32.8,0.2,5.3,4.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,B_101/62_2_1,B_101/62_2_1,11000,NaN,52.799999,35.1,0.7,11.4,6.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,B_101/62_3_1,B_101/62_3_1,11001,NaN,42.500000,46.2,0.2,11.1,6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,B_101/62_4_1,B_101/62_4_1,11002,NaN,42.599998,41.8,0.2,15.4,5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,B_101/62_5_21,B_101/62_5_2,11003,NaN,36.799999,47.5,1.2,14.5,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
merged1.to_csv("/Users/inesschwartz/GreenDataScience/Thesis/tables_clean/analyses_clean.csv", index=False)

# Soil Profile Table

In [42]:
##rename columns for clarity add FK/PK
#create copy of samples
soil_profile_record = samples.copy()
# Rename columns in the DataFrame
samples.rename(columns={
    'Registo': 'sample_id',
    'N¬∫ Campo': 'site_info_id',
    'Ano': 'year',
    'Perfil': 'profile',
    'Campanha': 'campaign',
    'Col√≥nia_Pais': 'country',
    'Distrito': 'district',
    'AmostraCrivada': 'sample_sifted',
    'AmostraNaoCrivada': 'sample_not_sifted',
    'Prateleira': 'shelf',
    'Sala': 'room'
}, inplace=True)

soil_profile_cleaning2 = soil_profile_record
# Add missing columns
soil_profile_cleaning2['site_info_id'] = pd.NA
soil_profile_cleaning2['sample_id'] = pd.NA 
soil_profile_cleaning2['soil_type_id'] = pd.NA 
soil_profile_cleaning2['site_info_id'] = soil_profile_cleaning2['site_info_id'].astype(str)

# Add a new Primary Key ID column starting from 1
# Check if 'lab_sample_id' exists and drop it
if 'profile_record_id' in soil_profile_cleaning2.columns:
    soil_profile_cleaning2 = soil_profile_cleaning2.drop(columns=['profile_record_id'])

# Insert a new column, e.g., 'lab_sample_id' as a primary key starting from 1
soil_profile_cleaning2.insert(0, 'profile_record_id', range(1, len(soil_profile_cleaning2) + 1))

# Reorder columns to match SAMPLES schema
profile_record_clean = soil_profile_cleaning2[[
    'profile_record_id',
    'profile',
    'site_info_id',
    'sample_id',
    'soil_type_id'
]].copy()

In [43]:
# ensure consistent data types and formatting

# correct datatypes
#profile to string
profile_record_clean['profile'] = profile_record_clean['profile'].astype(str).str.strip().str[:20]

#sample_id to string
# Convert cleaned values to numeric safely
# Convert sample_id to numeric first (coerce errors to NaN)
profile_record_clean['sample_id'] = pd.to_numeric(profile_record_clean['sample_id'], errors='coerce')
# Then convert to string (will keep NaNs as <NA>)
profile_record_clean['sample_id'] = profile_record_clean['sample_id'].astype('Int64').astype(str)

In [44]:
# check for duplicates and nulls
# Filter out and print duplicated samples (including the first occurrence)
duplicated_values = profile_record_clean['sample_id'][profile_record_clean['sample_id'].duplicated()].unique()
print(duplicated_values)

['<NA>']

In [45]:
profile_record_clean.dtypes

profile_record_id     int64
profile              object
site_info_id         object
sample_id            object
soil_type_id         object
dtype: object

In [46]:
# Preview the result
profile_record_clean.head()
profile_record_clean.to_csv("/Users/inesschwartz/Desktop/profile_record_clean.csv", index=False)

# Site info table

In [47]:
import unicodedata

site_info_cleaning = profile_loc

site_info_cleaning.rename(columns={
    'PERFIL': 'profile',
    'X_COORD': 'X_coord',
    'Y_COORD': 'Y_coord', 
    'PRO': 'district'
}, inplace=True)

# Add a new Primary Key ID column starting from 1
site_info_cleaning.insert(0, 'site_info_id', range(1, len(site_info_cleaning) + 1))


# Add missing columns
site_info_cleaning['land_cover_id'] = pd.NA
site_info_cleaning['climate_id'] = pd.NA  
site_info_cleaning['geology_id'] = pd.NA
site_info_cleaning['topo_feature_id'] = pd.NA  
site_info_cleaning['sampling_date'] = pd.NA # might leave out...
site_info_cleaning['districts_id'] = pd.NA  

# Function to remove accents
def remove_accents(text):
    if isinstance(text, str):
        text = unicodedata.normalize('NFKD', text)
        return ''.join(c for c in text if not unicodedata.combining(c))
    return text

# Apply to all object (string) columns
for col in site_info_cleaning.select_dtypes(include='object').columns:
    site_info_cleaning[col] = site_info_cleaning[col].apply(remove_accents)

# Replace / with _ and strip/shorten 'profile' BEFORE slicing into site_info_clean
site_info_cleaning['profile'] = (
    site_info_cleaning['profile']
    .astype(str)
    .str.replace('/', '_')
    .str.strip()
    .str[:20]
)

# Then select columns
site_info_clean = site_info_cleaning[[
    'site_info_id',
    'ID',
    'profile',
    'X_coord',
    'Y_coord',
    'land_cover_id',
    'climate_id',
    'geology_id',
    'topo_feature_id',
    'sampling_date',
    'districts_id',
    'district'
]]


site_info_clean.head()

,site_info_id,ID,profile,X_coord,Y_coord,land_cover_id,climate_id,geology_id,topo_feature_id,sampling_date,districts_id,district
0,1,2770,1_57,12.161278,-15.222598,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Namibe
1,2,48,1_59,12.575775,-4.866986,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cabinda
2,3,1618,1_61,15.098840,-11.225411,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Cuanza Sul
3,4,881,1_63,17.081955,-9.274587,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Malanje
4,5,1750,1_64,20.788116,-11.568683,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,Moxico

In [48]:
site_info_clean.to_csv("/Users/inesschwartz/Desktop/site_info1.csv")

# Morphology Horizon Table

In [56]:
morphology.head()

,ID1,Morfo_id,Amostra,Perfil,Agrupamento,REF,Pro,CM,Limite Superior,Limite inferior,...,Quantidade de ra√≠zes,Di√¢metro de ra√≠zes,Grau de humidade,Horizonte de diagn√≥stico,Propriedade de diagn√≥stico,Designa√ß√£o do horizonte,Nitidez do limite,Observa√ßoes,Unnamed: 46,Confirmar
0,38,B_101/62_1_1,10999.0,101/62,B 74,74.0,Bi√©,1.0,0.0,11.0,...,Muitas finas e bastantes m√©dias,NaN,Seco,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,39,B_101/62_2_1,11000.0,101/62,B 74,74.0,Bi√©,2.0,11.0,28.0,...,Bastantes finas e m√©dias e raras grossas,NaN,Seco,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,40,B_101/62_3_1,11001.0,101/62,B 74,74.0,Bi√©,3.0,28.0,54.0,...,Algumas finas e m√©dias e raras grossas,NaN,Seco,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,41,B_101/62_4_1,11002.0,101/62,B 74,74.0,Bi√©,4.0,54.0,90.0,...,"Poucas finas, algumas m√©dias e raras grossas",NaN,Seco,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,42,B_101/62_5_2,11003.2,101/62,B 74,74.0,Bi√©,5.0,90.0,160.0,...,Raras,M√©dias e grossas,Seco a h√∫mido,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [57]:
# rename columns
morphology.rename(columns={
    'Morfo_id':'horizon_id',
    'Amostra': 'sample_id',
    'Perfil': 'profile',
    'CM':'horizon_layer',
    'Limite Superior': 'upper_depth',
    'Limite inferior': 'lower_depth',
    'Grau de humidade': 'moisture_degree',
    'Quantidade de ra√≠zes': 'root_quantity',
    'Di√¢metro de ra√≠zes': 'root_diameter',
    'Manchas': 'stains',
    'Textura': 'texture',
    'Abund√¢ncia de elementos grosseiros': 'thick_contents_count',
    'Forma de elementos grosseiros': 'thick_contents_shape',
    'Natureza de elementos grosseiros': 'thick_contents_nature',
    'Tipo de estrutura': 'structure_type',
    'Classes de estrutura': 'structure_class',
    'Grau de estrutura': 'structure_degree',
    'Di√¢metro de poros': 'pore_diameter',
    'Quantidade de poros': 'pore_quantity',
    'Forma de poros': 'pore_shape',
    'Cor (s)': 'dry_color_name',
    'Matiz (s)': 'dry_hue',
    'Valor (s)':'dry_value',
    'Croma (s)': 'dry_chroma',
    'Cor (h)': 'moist_color_name',
    'Matiz (h)': 'moist_hue',
    'Valor (h)': 'moist_value',
    'Croma (h)': 'moist_chroma',
    'Compacidade':'compaction',
    'Dureza': 'durability', 
    'Friabilidade': 'friability'
}, inplace=True)

In [53]:
# Drop unnecessary columns
# morphology_cleaning = morphology.drop(columns=[
#     'ID1', 'Pro', 'Observa√ßoes', 'Nitidez do limite', 'Designa√ß√£o do horizonte', 'Observa√ßoes', 'Confirmar', 'Adesividade', 'Plasticidade', 'Efervesc√™ncia com HCl', 'Orienta√ß√£o das Fendas', 'Largura das fendas', 'Quantidade de fendas'
# ])
morphology_cleaning = morphology
#add profile_record_id to populate later from soil profile table
morphology_cleaning['profile_record_id'] = pd.NA

#drop accents
import unicodedata
def remove_accents(text):
    if isinstance(text, str):
        # Normalize and remove diacritics
        text = unicodedata.normalize('NFKD', text)
        text = ''.join(c for c in text if not unicodedata.combining(c))
        return text
    return text

# Apply to all cells in the DataFrame
morphology_cleaning = morphology_cleaning.applymap(remove_accents)

In [54]:
# Reorder columns to match SAMPLES schema
morphology_cleaning1 = morphology_cleaning [[
    'horizon_id',
    'sample_id',
    'profile_record_id',
    'profile',
    'horizon_layer',
    'upper_depth',
    'lower_depth',
    'moisture_degree',
    'root_quantity',
    'root_diameter',
    'texture',
    'structure_type',
    'structure_class',
    'structure_degree',
    'pore_diameter',
    'pore_quantity',
    'pore_shape',
    'dry_color_name',
    'dry_hue',
    'dry_value',
    'dry_chroma',
    'moist_color_name',
    'moist_hue',
    'moist_value',
    'moist_chroma',
    'compaction',
    'durability',
    'friability',
    'thick_contents_count',
    'thick_contents_nature'
]]

# Show first few rows
morphology_cleaning1.head(5)

KeyError: "['friability'] not in index"

In [94]:
morphology_cleaning1.dtypes

horizon_id                object
sample_id                float64
profile_record_id         object
profile                   object
horizon_layer            float64
upper_depth              float64
lower_depth              float64
moisture_degree           object
root_quantity             object
root_diameter             object
texture                   object
structure_type            object
structure_class           object
structure_degree          object
pore_diameter             object
pore_quantity             object
pore_shape                object
dry_color_name            object
dry_hue                   object
dry_value                float64
dry_chroma               float64
moist_color_name          object
moist_hue                 object
moist_value              float64
moist_chroma             float64
compaction                object
durability                object
friability                object
thick_contents_count      object
thick_contents_nature     object
dtype: object

In [95]:
# Ensure consistent data types and formatting
morphology_cleaning1['profile'] = morphology_cleaning1['profile'].astype(str).str.replace('/', '_').str.strip().str[:20]

#convert sample_to to string of the integer if it's a float like 11003.0
#The original string if it's not an integer or has decimal places
#"NULL" if the value is missing
def clean_sample_id(x):
    if pd.isnull(x):
        return "NULL"
    try:
        float_val = float(x)
        if float_val.is_integer():
            return str(int(float_val))
        else:
            return str(float_val)
    except:
        return str(x)

morphology_cleaning1['sample_id'] = morphology_cleaning1['sample_id'].apply(clean_sample_id)

In [96]:
# Check for nulls in 'sample_id' column
null_string_values = morphology_cleaning1[morphology_cleaning1['sample_id'] == "NULL"]['sample_id'].unique()
print(null_string_values)

null_string_count = (morphology_cleaning1['sample_id'] == "NULL").sum()
print(f"üîç Number of sample_id values equal to 'NULL': {null_string_count}")

['NULL']
üîç Number of sample_id values equal to 'NULL': 6639

In [97]:
#sample_id(s) in morphology_cleaning but not in samples_check:
# Ensure both sample_id columns are strings for accurate comparison
morphology_cleaning1['sample_id'] = morphology_cleaning1['sample_id'].astype(str)
samples_check['sample_id'] = samples_check['sample_id'].astype(str)

# Get unique sample_id values in both DataFrames
morph_sample_ids = set(morphology_cleaning1['sample_id'].dropna())
samples_check_ids = set(samples_check['sample_id'].dropna())

# Find sample_ids in morphology_cleaning but not in samples_check
sample_ids_not_in_check = sorted(morph_sample_ids - samples_check_ids)

# Print results
print(f"‚úÖ Found {len(sample_ids_not_in_check)} sample_id(s) in morphology_cleaning but not in samples_check:")
print(sample_ids_not_in_check)

‚úÖ Found 1260 sample_id(s) in morphology_cleaning but not in samples_check:
['10064.2', '1007', '1022', '1024', '10338', '10339', '10340', '10341', '10342', '10343', '10344', '10345', '10346', '10347', '10348', '10377', '104', '10428.2', '10443', '10444', '10445', '10446.2', '10448', '10449', '10450', '10451', '10467', '10468', '10469', '10470.2', '10472', '10480.2', '10485.2', '105', '10509.2', '10536.2', '10558', '10562.2', '10576.2', '106', '1067', '1068', '1069', '107', '10843.2', '10849.2', '10885.2', '1089', '1090', '10901', '10902', '10903', '10904.2', '1091', '1092', '10922.2', '1093', '10933.2', '1094', '1099', '1100.2', '11003.2', '1108.2', '1110', '1111.2', '1117', '11176.2', '1118', '1119.2', '11285.2', '11327.2', '11356.2', '11373', '11374', '1138', '1139', '11393.2', '1140.2', '1142', '1143', '1144.3', '11454.2', '1147', '1148', '11485.2', '1149.3', '11492', '11493', '11494', '1152', '1153', '1154.2', '1156', '11560.2', '1157', '1158.3', '1160', '11794.2', '1182', '1183', '1184.2', '1186', '1187', '1188', '1189', '1190', '1191.2', '1198', '1199', '1200.3', '1204', '1205', '1206.2', '1208', '1209.2', '1211', '1212', '1213', '1214', '1215.2', '1217', '1219', '1220.2', '1222', '1223', '1224', '1225.2', '1227', '1228', '1229.2', '1231', '1232', '1233', '1234', '1235', '1236.2', '12450', '12451', '12452', '12494', '12495', '12496', '1250', '1251', '1252.3', '1255', '1256', '12630.2', '12636.2', '12653.2', '12692.2', '12715.2', '1274', '1275.3', '1286', '1287', '1288', '1291', '1292', '1298', '1299', '1300', '1303', '1304', '1323', '1324', '1325.3', '1327', '13274.2', '1328', '1329', '13299.2', '1333', '1334', '1335.3', '1338', '13387.2', '1339', '13394.2', '134', '1340', '13404.2', '1341', '1343.2', '13475.2', '13481.2', '13493.2', '135', '1350', '1351', '1352.3', '13521.2', '13532.2', '13549.2', '1355', '13556.2', '1356.3', '1358', '13581.2', '13599.2', '136', '1360', '13606.2', '1361', '13621.2', '13638.2', '1364', '1365', '1366.3', '13661.2', '1368', '13695.2', '1375', '1376.4', '13765.2', '13779.2', '1379', '13793.2', '13804.2', '1381', '13810.2', '13817.2', '1382', '1383.2', '1386', '1387', '1388.2', '13883.2', '13901.2', '13924.2', '13929', '13930', '13931.2', '13933', '13934', '13949', '1396', '1397', '1398', '13988.2', '1399', '13999.2', '140', '1401', '14018.2', '1402', '1403', '1406', '14064.2', '1407', '14071.2', '1408.3', '1411', '14112.2', '14119.2', '1412', '1413.2', '14135.2', '1415', '14156.2', '142', '14213.2', '1424', '14249.2', '1425', '1426.3', '14266.2', '14278.2', '1429', '14296.2', '1434', '14351', '14352', '14353', '1438', '1439', '144', '1440', '1441', '1442.2', '14451', '14452', '14453', '14454', '14455.2', '14508', '14509', '14510', '1452', '1453', '1454', '1455', '1456', '1457', '1458', '1459', '1460', '1461', '1462', '1463.2', '1465', '1466', '1473', '1474', '1475.2', '1482', '1483', '1484', '1485.2', '14857.2', '1487', '1488', '1489', '1490.3', '14900', '14901', '14920.2', '1493', '1494', '1495', '1496', '1497', '14982', '15005.2', '15031.2', '15032.2', '15049.2', '15132.2', '1525', '15286.2', '15305.2', '15314', '15315', '15316', '15337.2', '15352.2', '15370.2', '1538', '1539', '1542', '1543', '1544', '1546.2', '1548.3', '1557.2', '1560.2', '1562.2', '15641.2', '1568.2', '15769', '15770', '15771', '15772', '15773', '15774', '15775', '15776', '15777', '15778.2', '1580.2', '1585.2', '1589.3', '15896.2', '1592.2', '15951.2', '15957.2', '1598.2', '1602.2', '16031.2', '1604.2', '16266.2', '1627.2', '1629.2', '16400', '16401', '16402', '16403', '16404', '16405', '16424', '16425', '16426', '16427', '16428', '16429', '16494.2', '1653.4', '16633', '16634', '16637', '16638', '1678', '1679', '1680', '1681', '16826', '16827', '16828', '16829', '16830', '16845', '16846', '16847', '16848', '16849', '16850', '16851', '16852', '16853.2', '16855', '16867', '16868', '16869', '16870.2', '16872', '16873', '1699', '1700', '1701', '1702', '1703', '1704', '1711', '1712', '1713', '1718', '1747.3', '1752.2', '17536.2', '1754.2', '17607.2', '17794', '17795', '17796', '17797', '17798', '17799', '1785.3', '17884', '17885', '17886', '17887', '17888', '17889', '17890', '1792.2', '17994', '17995', '17996', '17997', '1802.2', '18025', '18026', '18027', '18028', '18058', '18059', '18060', '18061', '18062', '18063', '18077', '18078', '18079', '18080', '18100', '18101', '18102', '18103', '18104', '1843.2', '18441', '18442', '18443', '18444', '18445', '18446', '18447', '1845.2', '18498.2', '1850.2', '18513.2', '18575.2', '18588.2', '18671.2', '18703.2', '18736', '18737', '18738', '18739', '1874.2', '18740.2', '18759.2', '18774', '18775', '18776', '18777', '18778', '18779', '1880.3', '18814.2', '19176', '19177', '19178', '19179', '19180', '19181', '19182', '19183', '19184', '19185', '19186', '19187', '19188', '19189', '19190', '19192', '19193', '19194', '19195', '19196', '1924', '19240', '19241', '19242', '19243', '19244.2', '19251', '19252', '19253', '19254', '19255.2', '19267', '19268', '19269', '19270', '19271', '1928', '19283', '19284', '19285', '19286', '19287', '19298', '19299', '19301', '19302', '19303', '19304', '1932', '19330', '19331', '19332', '19333', '19334', '19371', '19372', '19373', '19374', '19375', '1938.2', '19391', '19392', '19393', '19394', '19404', '19405', '19406', '19407', '19408', '19431', '19432', '19433', '19434', '19435', '19436', '19437', '19438', '19439', '19440', '19448', '19449', '19450', '19451', '19467', '19468', '19469', '19537', '19538', '19539', '19541', '19542', '19543', '19544', '19545', '19550', '19551', '19552', '19553', '19554.2', '19556', '19557', '19558', '1956.3', '19565', '19566', '19567', '19568', '19569', '19570', '19571', '19572', '19573', '19574', '19575', '19576', '19577', '19579', '19580', '19581', '19582', '19583', '19585', '19586', '19587', '19588', '19654', '19655', '19656', '1968.2', '1991.2', '1993.2', '2002.2', '2007.3', '2013.4', '2019.2', '2023.2', '2051.2', '2055.2', '2057.2', '2069.3', '2075.2', '20880', '20881', '20882', '20883', '2089.2', '20891', '20892', '20893', '20894', '20895', '20896', '20897', '20898', '20899', '20905', '20906', '20907', '20908', '20909', '20910', '20911', '20912.2', '20914', '20915', '20916', '20917', '20918', '20919', '20920', '20921.2', '20925', '20926', '20927', '2093.2', '20955', '20956', '20957', '20958', '20959', '20970', '20971', '20972', '20973', '21002', '21003', '21004', '21005', '21006', '21007', '2107.4', '2115.2', '2136.2', '2149.3', '21528', '21529', '21530', '21531', '21532', '21533', '21534', '21535', '21536', '21537', '21542', '21543', '21544', '21545', '21546', '21547', '21548', '21549', '21555', '21556', '21557', '21558', '21559', '21575', '21576', '21577', '21603', '21604', '21605', '21606', '21613', '21614', '21615', '21616', '21617', '21618', '21619', '21620', '21627', '21628', '21629', '21630', '21634', '21635', '21636', '21637', '21642', '21643', '21644', '2165', '21652', '21653', '21654', '21666', '21667', '21668', '21669', '21670', '21671', '21672', '21673', '21674', '2169.2', '21704', '21705', '21706', '21707', '21708', '21711', '21712', '21713', '21714', '21715', '21716', '21718', '21719', '21720', '21721', '21724', '21725', '21726', '21727', '21728', '21732', '21733', '21734', '21735', '21736', '21744', '21745', '21746', '21747', '2248.2', '2253.2', '2263.2', '2268.2', '2282.2', '22839', '22840', '22841', '22842', '22843', '22844', '22845', '22846', '2371.2', '2373.3', '2378.2', '2380.2', '2382.2', '2393.2', '2398.2', '2400.2', '2408.2', '2410.3', '2415.3', '2463.2', '2475.2', '2546', '2547', '2549', '2550', '2560', '2561', '2562', '2563', '2630', '2631', '2632', '2633', '2663', '2664', '2665', '2666', '2668', '2670', '2671', '2672', '2674', '2675', '2677', '2685', '2686', '2687', '2689', '2693', '2694', '2695', '2709', '2711.2', '2716.3', '2730.2', '2738.2', '2743.3', '2747.2', '2750.3', '2757.3', '2763.2', '2765.2', '2776.2', '2785.2', '2842.3', '2847.2', '2869.2', '2877.2', '2888.2', '2890.3', '2906.2', '2908.2', '2910.2', '2921.2', '2927.2', '2945.2', '2978.2', '2981.2', '2987.2', '299.2', '2994.2', '3', '3006.2', '3008.2', '301', '3014.2', '3016.3', '302', '3021.3', '3027', '3029', '303', '3031.2', '3045.2', '3050.2', '3052.2', '3103.2', '3109.2', '3119.2', '3145.2', '3151.2', '3156.2', '3161.2', '3163.2', '3165.2', '3179.2', '3194.2', '3213.2', '3216.2', '3227', '3229', '3231', '3259.2', '3290.2', '3309.2', '3348.2', '3412.2', '3417.2', '3492.2', '3506.2', '3526.2', '3528.3', '3535.2', '3568', '3569', '3570.2', '3572.2', '3574.2', '3606.2', '3636.2', '3651', '3652', '3653', '3654', '3655', '3671', '3672', '3673', '3674', '3676', '3703', '3704', '3705', '3706', '3721', '3722', '3723', '3734', '3735', '3736', '3737', '3745', '3746', '3768', '3770', '3785', '3787', '3788', '3798', '3800', '3801', '3835', '3837', '3838', '3840', '3841', '3850', '3852', '3853', '3854', '3855', '3869', '3870', '3871', '3872', '3873', '3874', '3876', '3878', '3879', '3881', '3923', '3924', '3925', '4241', '437', '438', '439', '473', '474', '475', '476', '483', '4840.3', '4867.3', '489', '4899.2', '490', '4908.2', '4916.2', '4920.2', '4957', '4958.2', '4972.3', '4981.2', '4989.2', '4996.2', '4998', '4999', '50', '5000', '5006.2', '5010.2', '5026.2', '5036', '5045.2', '5052', '5053.2', '5082.2', '5088.2', '51.2', '5101.2', '5107.2', '5123.2', '5174.2', '5176.2', '5192.2', '5202.2', '5207.2', '5214.2', '5218.2', '5225.3', '5270.2', '5315.2', '5327.2', '5332.2', '5342.2', '5348.2', '5359.2', '5389', '5404.2', '5417.2', '5431', '5434.2', '5442.2', '5444.2', '5447.2', '5476.2', '5478.2', '5686', '5717.2', '5737.2', '5745.2', '5751.2', '5767', '577', '5770.2', '5777.2', '578.2', '5780.2', '579', '5792', '5810.2', '5822.2', '5839.2', '5883.2', '5886', '5897.3', '5902.2', '5914.2', '5916.2', '5945.2', '5963.2', '5973.2', '598', '5983.2', '599', '5990.2', '5995.2', '5997.2', '600', '6014.2', '6022.2', '6032.2', '607', '608', '609.2', '611', '612.2', '6314.2', '6317.2', '6323.2', '6332.2', '6334', '6335', '6336.3', '6339', '634.2', '6340', '6341', '6342.3', '6348.2', '6350.2', '6356', '6357', '6358.2', '6373', '6374', '6375', '6376.3', '6381.2', '6383.3', '6386', '6387', '6388.2', '6390', '6391.2', '6402.2', '6405.2', '6416.2', '6436', '6437', '6438', '6439.3', '6475', '6476', '6477', '6478', '6479', '6481', '6549.2', '6633.2', '6635.2', '6652.2', '6667', '6668', '6669.2', '6675', '6684.2', '6686.2', '6704', '6705', '6707', '6710', '6726.2', '6754.2', '6768.2', '6787.2', '6815.2', '6824', '6836', '6840', '6853.2', '6872.2', '6890.2', '6895.2', '6897.2', '6903.2', '6908.2', '6921.2', '6924.2', '6931.2', '694', '695', '6964.2', '6974.2', '6988.2', '7011.2', '7026', '7047.2', '709', '7108.2', '7127', '7140', '7141.2', '7184.2', '7255.2', '7257', '7261', '7265', '7268.2', '7278', '7284', '7289.2', '7291.2', '734', '735', '7352', '7390.2', '7395', '7397.2', '74', '7408.2', '745', '746', '747', '75', '75.1', '76', '761', '7815', '7817.2', '7838.2', '7849.2', '7859.2', '7931', '7932.2', '7935.2', '7944.2', '7958.2', '8000', '8012.2', '8057', '8058', '8059', '8066', '8067', '8068', '8077', '8119.2', '8271.2', '8274.2', '832', '8332', '8336', '8339', '836.2', '8360.2', '8431', '8493', '8565', '86', '8681.2', '87', '88', '8830.2', '8865.2', '89', '890', '891', '8959.2', '90', '9039.2', '91', '9125.2', '9143.2', '9155.2', '9183.2', '9202', '9208.2', '9281.2', '9297.2', '9302.2', '9442.2', '9449.2', '9455.2', '95', '9561', '9564.2', '96', '9604.2', '97', '98', '985', '989', '996', '9986', 'NULL']

In [98]:
#check which sample_id values from samples_check are missing from morphology_cleaning

missing_ids_horizon = samples_check[~samples_check['sample_id'].isin(morphology_cleaning1['sample_id'])]
print("Missing sample IDs in horizon:")
print(missing_ids_horizon['sample_id'].unique())
print(len(missing_ids_horizon['sample_id'].unique()))

Missing sample IDs in horizon:
['633' '700' '707' ... '18869' '18870' '18871']
9635

**Goal** = drop any horizon_id from morphology_cleaning that does not have both:

1. Key horizon characteristics

2. A valid profile (w location and site characteristics) that appears in site_info_clean

In [99]:
import pandas as pd

# -----------------------------------------
# 1. Standardize 'profile' column formatting
# -----------------------------------------
site_info_clean.loc[:, 'profile'] = (
    site_info_clean['profile']
    .astype(str)
    .str.replace('/', '_')
    .str.strip()
    .str.upper()
    .str[:20]
)

morphology_cleaning1.loc[:, 'profile'] = (
    morphology_cleaning1['profile']
    .astype(str)
    .str.replace('/', '_')
    .str.strip()
    .str.upper()
    .str[:20]
)

# ---------------------------
# 2. Define valid profiles
# ---------------------------
valid_profiles = set(site_info_clean['profile'])

# ---------------------------
# 3. Define helper to check for missing/zero
# ---------------------------
def is_missing(val):
    return pd.isna(val) or val == 0 or val == '0'

# ---------------------------
# 4. Build masks for filtering
# ---------------------------

# A. Missing key horizon data
missing_key_data_mask = (
    morphology_cleaning1['horizon_id'].notna() &
    morphology_cleaning1['moist_color_name'].apply(is_missing) &
    morphology_cleaning1['texture'].apply(is_missing) &
    morphology_cleaning1['structure_type'].apply(is_missing)
)

# B. Invalid profile
invalid_profile_mask = ~morphology_cleaning1['profile'].isin(valid_profiles)

# C. Missing both upper and lower depth
missing_depth_mask = (
    morphology_cleaning1['upper_depth'].apply(is_missing) &
    morphology_cleaning1['lower_depth'].apply(is_missing)
)

# ---------------------------
# 5. Combine all masks
# ---------------------------
rows_to_flag_mask = missing_key_data_mask | invalid_profile_mask | missing_depth_mask
rows_to_flag = morphology_cleaning[rows_to_flag_mask]

# ---------------------------
# 6. Report and drop flagged rows
# ---------------------------
print(f"‚ö†Ô∏è Found {len(rows_to_flag)} rows with at least one of the following issues:")
print("   ‚Ä¢ missing key horizon data")
print("   ‚Ä¢ invalid profile (not in site_info_clean)")
print("   ‚Ä¢ missing both upper_depth and lower_depth")

# Optional: Save flagged rows for review
# rows_to_flag.to_csv("/Users/inesschwartz/Desktop/morph_flagged_rows_combined.csv", index=False)

# Drop flagged rows from main DataFrame
morphology_cleaning1 = morphology_cleaning1[~rows_to_flag_mask].copy()

# Summary after cleanup
print(f"‚úÖ Remaining rows in morphology_cleaning: {len(morphology_cleaning1)}")

‚ö†Ô∏è Found 2597 rows with at least one of the following issues:
   ‚Ä¢ missing key horizon data
   ‚Ä¢ invalid profile (not in site_info_clean)
   ‚Ä¢ missing both upper_depth and lower_depth
‚úÖ Remaining rows in morphology_cleaning: 10438

In [100]:
# check for duplicates
# Make sure sample_id and horizon_id are strings
morphology_cleaning1['sample_id'] = morphology_cleaning1['sample_id'].astype(str).str.strip()
morphology_cleaning1['horizon_id'] = morphology_cleaning1['horizon_id'].astype(str).str.strip()
# Filter out and print duplicated samples (including the first occurrence)
duplicated_values = morphology_cleaning1['sample_id'][morphology_cleaning1['sample_id'].duplicated()].unique()
print(duplicated_values)

['11016' '11017' 'NULL' '11352' '11353' '17532' '17533' '17534' '2438'
 '7192' '13178' '20883' '9027' '9231' '8232' '9255' '8639' '8536' '4918']

In [101]:
#addressing duplicates

# -----------------------------------
# 1. Correct sample_id using horizon_id map
# -----------------------------------
# Step 1: Make sure IDs are strings and trimmed
morphology_cleaning1['horizon_id'] = morphology_cleaning1['horizon_id'].astype(str).str.strip()
morphology_cleaning1['sample_id'] = morphology_cleaning1['sample_id'].astype(str).str.strip()

# Step 2: Your mapping (horizon_id ‚Üí new sample_id)
horizon_to_sample_map = {
    'UZ_24c/60_1_1': '8639',
    'UZ_24c/60_2_1': '8640',
    'UZ_24c/60_3_1': '8641',
    'UZ_24c/60_4_1': '8642',
    'UZ_24c/60_5_1': '8643',
    'UZ_66c/60_1_1': '8777',
    'UZ_66c/60_2_1': '8778',
    'UZ_66c/60_3_1': '8779',
    'UZ_66c/60_4_1': '8780',
    'CC_473/66_1_1': '17596',
    'CC_473/66_2_1': '17597',
    'CC_473/66_3_1': '17598',
    'N_85/57_1_0': '4947',
    'N_85/57_2_0': '4948',
    'N_85/57_3_0': '4949',
    'UZ_231/60_4_1': '8255',
    'B_139/61_5_1': '10353',
    'H_480/55_1_1': '3919',
    'H_91/54_1_1': '1255',
    'H_90/54_3_3': '1252',
    'Hb_136/56_1_1':'2961',
    'Hb_136/56_2_1': '2962',
    'Hb_136/56_3_1': '2963',
    'Hb_136/56_4_1': '2964',
    'UZ_216/60_5_1': '8231',
    'Bg_217/46_1_1': '694',
    'Bg_217/46_2_1': '695',
    'Bg_217/46_3_1': '696',
    'UZ_215c/60_1_1':'9255',
    'UZ_215c/60_2_1': '9256',
    'UZ_215c/60_3_1': '9257',
    'UZ_215c/60_4_1': '9258',
    'UZ_215c/60_5_1': '9259',
    'UZ_215c/60_6_1': '9260',
    'N_30/57_1_1':'4848',
    'N_30/57_2_2':'4849',
    'N_30/57_3_1':'4850',
    'UZ_66c/60_1_1': '8777',
    'UZ_66c/60_2_1': '8778',
    'UZ_66c/60_3_1': '8779',
    'UZ_66c/60_4_1': '8780',
    'UZ_66c/60_5_1': '8781',
    'UZ_66c/60_6_1': '8783',
    'UZ_66c/60_7_1': '8782',
    'H_91/54_1_1': '1255',
    'H_91/54_2_1': '1256',
    'H_91/54_3_1': '1257'
}

# Step 3: Apply the mapping to replace sample_id based on horizon_id
morphology_cleaning1['sample_id'] = morphology_cleaning1.apply(
    lambda row: horizon_to_sample_map.get(row['horizon_id'], row['sample_id']),
    axis=1
)


# -----------------------------------
# 2. Drop specific horizon_ids (might have already been dropped)
# -----------------------------------
horizons_to_drop = [
    'B_139/61_4_1', 'H_113/55_1_1', 'H_1306/52_1_1', 'H_1611/52_1_1',
    'H_227/46_1_1', 'H_227/46_2_1', 'H_227/46_3_1', 'H_227/46_4_1',
    'Mj_178c/63_4_1', 'Mj_321c/63_4_1', 'B_110/62_5_1', 'B_110/62_6_1'
]
morphology_cleaning1 = morphology_cleaning1[~morphology_cleaning1['horizon_id'].isin(horizons_to_drop)]


# -----------------------------------
# 3. Done ‚Äî Optional: Save to file
# -----------------------------------
#df_morpho_cleaned.to_csv("/Users/inesschwartz/Desktop/df_morpho_cleaned_corrected.csv", index=False)
print("‚úÖ Morphology data cleaned and sample_id updated via horizon_id.")

‚úÖ Morphology data cleaned and sample_id updated via horizon_id.

In [103]:
#re-count null sample_id's
morphology_cleaning1
# Check for nulls in 'sample_id' column
null_string_values2 = morphology_cleaning1[morphology_cleaning1['sample_id'] == "NULL"]['sample_id'].unique()
print(null_string_values2)

null_string_count2 = (morphology_cleaning1['sample_id'] == "NULL").sum()
print(f"üîç Number of sample_id values equal to 'NULL': {null_string_count2}")

['NULL']
üîç Number of sample_id values equal to 'NULL': 4713

In [104]:
num_duplicates = morphology_cleaning1['horizon_id'].duplicated().sum()
print(f"üîÅ Found {num_duplicates} duplicated horizon_id(s).")

üîÅ Found 0 duplicated horizon_id(s).

In [105]:
df_morpho_cleaned = morphology_cleaning1

### dealing w decimals in sample_id

In [106]:
# Step 1: Ensure sample_id is a string
df_morpho_cleaned['sample_id'] = df_morpho_cleaned['sample_id'].astype(str).str.strip()

# Step 2: Identify sample_ids that contain a decimal point
decimal_sample_ids = df_morpho_cleaned[df_morpho_cleaned['sample_id'].str.contains(r'\.\d+$', regex=True)]

# Step 3: Output results
print(f"üîç Found {len(decimal_sample_ids)} sample_id(s) with decimal values.\n")

# Optional: Print the unique sample_ids with decimals
print("üßæ Affected sample_ids:")
print(decimal_sample_ids['sample_id'].unique())

üîç Found 440 sample_id(s) with decimal values.

üßæ Affected sample_ids:
['11003.2' '11285.2' '10843.2' '10428.2' '10470.2' '10480.2' '10485.2'
 '10446.2' '10849.2' '10509.2' '10562.2' '10536.2' '11327.2' '11356.2'
 '11393.2' '11176.2' '11454.2' '10885.2' '10904.2' '10922.2' '11485.2'
 '10933.2' '4972.3' '4981.2' '5810.2' '5045.2' '5822.2' '4989.2' '5006.2'
 '5010.2' '5839.2' '4996.2' '5082.2' '5026.2' '6314.2' '6317.2' '6323.2'
 '6332.2' '6336.3' '5883.2' '6342.3' '6348.2' '6350.2' '6358.2' '5902.2'
 '5897.3' '6376.3' '6381.2' '6383.3' '6388.2' '6391.2' '6402.2' '6405.2'
 '6416.2' '5914.2' '5916.2' '6439.3' '5088.2' '5053.2' '5101.2' '5107.2'
 '5123.2' '5945.2' '5174.2' '5176.2' '5963.2' '5973.2' '5202.2' '5207.2'
 '5192.2' '5214.2' '5218.2' '5225.3' '5983.2' '5990.2' '5270.2' '5995.2'
 '5997.2' '5447.2' '6014.2' '6022.2' '5417.2' '5332.2' '6032.2' '5476.2'
 '5478.2' '5434.2' '5359.2' '5442.2' '5444.2' '5327.2' '5342.2' '5315.2'
 '5348.2' '7390.2' '7397.2' '5717.2' '5745.2' '5751.2' '5737.2' '5777.2'
 '7408.2' '5770.2' '5780.2' '20912.2' '20921.2' '19554.2' '19255.2'
 '18814.2' '18740.2' '6787.2' '6903.2' '6924.2' '6684.2' '6686.2' '6921.2'
 '7047.2' '6726.2' '6815.2' '6754.2' '6633.2' '6635.2' '6890.2' '6908.2'
 '6895.2' '6897.2' '6652.2' '6964.2' '7108.2' '6872.2' '6669.2' '6768.2'
 '6931.2' '6853.2' '7268.2' '7141.2' '6988.2' '7011.2' '7184.2' '6974.2'
 '7289.2' '7291.2' '7255.2' '16853.2' '16870.2' '18498.2' '18513.2'
 '17536.2' '18575.2' '18588.2' '18671.2' '17607.2' '18703.2' '10064.2'
 '11560.2' '11794.2' '1100.2' '1557.2' '1560.2' '1752.2' '1754.2' '1747.3'
 '1275.3' '1785.3' '1792.2' '1343.2' '1352.3' '1356.3' '1802.2' '1366.3'
 '1325.3' '836.2' '1376.4' '1383.2' '1335.3' '1388.2' '1108.2' '1562.2'
 '1413.2' '1408.3' '1111.2' '1568.2' '2248.2' '1843.2' '1845.2' '2253.2'
 '1426.3' '1850.2' '1580.2' '1442.2' '1602.2' '1604.2' '2263.2' '1463.2'
 '1119.2' '1475.2' '1490.3' '1485.2' '1874.2' '2268.2' '1589.3' '2282.2'
 '1140.2' '1585.2' '1598.2' '1144.3' '1938.2' '1149.3' '1956.3' '1968.2'
 '1154.2' '1158.3' '1991.2' '1993.2' '1548.3' '2002.2' '2013.4' '2007.3'
 '2371.2' '2373.3' '2378.2' '2380.2' '2382.2' '2019.2' '2023.2' '2055.2'
 '2057.2' '2051.2' '2393.2' '2398.2' '2400.2' '2075.2' '2069.3' '2408.2'
 '2410.3' '2415.3' '2093.2' '2089.2' '2107.4' '2115.2' '2136.2' '1627.2'
 '1629.2' '1546.2' '2463.2' '1184.2' '2169.2' '2475.2' '1191.2' '1200.3'
 '1653.4' '1206.2' '1209.2' '1215.2' '1220.2' '1225.2' '1229.2' '1236.2'
 '2921.2' '2888.2' '2890.3' '2906.2' '2908.2' '2910.2' '2927.2' '609.2'
 '612.2' '3506.2' '2945.2' '2716.3' '2994.2' '2987.2' '2978.2' '2981.2'
 '3021.3' '3006.2' '3008.2' '3014.2' '3016.3' '3535.2' '299.2' '3031.2'
 '3526.2' '3528.3' '3045.2' '3050.2' '3052.2' '3103.2' '3109.2' '3119.2'
 '2730.2' '3145.2' '3179.2' '3570.2' '3572.2' '3574.2' '3156.2' '3151.2'
 '3161.2' '3163.2' '3165.2' '3194.2' '3213.2' '3216.2' '3606.2' '3259.2'
 '3636.2' '2750.3' '3290.2' '3309.2' '2743.3' '2738.2' '2763.2' '2765.2'
 '2757.3' '2776.2' '2785.2' '2711.2' '3492.2' '2847.2' '2842.3' '2877.2'
 '2869.2' '10576.2' '19244.2' '15778.2' '15305.2' '16266.2' '15005.2'
 '15286.2' '15049.2' '15337.2' '15031.2' '15032.2' '15957.2' '15951.2'
 '15896.2' '15352.2' '15370.2' '16494.2' '15641.2' '15132.2' '14857.2'
 '14455.2' '14920.2' '16031.2' '13521.2' '13779.2' '13765.2' '13493.2'
 '13817.2' '13793.2' '13810.2' '13804.2' '13475.2' '13883.2' '13901.2'
 '13481.2' '13924.2' '14018.2' '13999.2' '13988.2' '13931.2' '14112.2'
 '14119.2' '13394.2' '14071.2' '13549.2' '14135.2' '14064.2' '13387.2'
 '14156.2' '13556.2' '13274.2' '12692.2' '13532.2' '14249.2' '13299.2'
 '14278.2' '14213.2' '14266.2' '14296.2' '13404.2' '12715.2' '51.2'
 '12636.2' '578.2' '12630.2' '13599.2' '75.1' '13581.2' '12653.2'
 '13621.2' '13606.2' '13638.2' '13661.2' '13695.2' '4840.3' '3348.2'
 '3417.2' '3412.2' '4867.3' '4899.2' '4908.2' '4916.2' '4920.2' '5404.2'
 '4958.2' '9039.2' '8959.2' '9125.2' '8119.2' '9183.2' '9208.2' '9143.2'
 '9155.2' '7838.2' '9281.2' '7849.2' '9297.2' '9302.2' '9449.2' '8274.2'
 '8271.2' '9442.2' '6549.2' '9564.2' '9455.2' '9604.2' '8360.2' '7859.2'
 '7817.2' '8681.2' '7932.2' '7935.2' '7944.2' '7958.2' '8012.2' '8865.2'
 '8830.2']

In [112]:
pip install pandas deep-translator

Requirement already satisfied: pandas in /opt/homebrew/lib/python3.11/site-packages (2.0.3)
Collecting deep-translator
  Downloading deep_translator-1.11.4-py3-none-any.whl.metadata (30 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /opt/homebrew/lib/python3.11/site-packages (from pandas) (1.24.3)
Requirement already satisfied: beautifulsoup4<5.0.0,>=4.9.1 in /opt/homebrew/lib/python3.11/site-packages (from deep-translator) (4.12.3)
Requirement already satisfied: requests<3.0.0,>=2.23.0 in /opt/homebrew/lib/python3.11/site-packages (from deep-translator) (2.31.0)
Requirement already satisfied: soupsieve>1.2 in /opt/homebrew/lib/python3.11/site-packages (from beautifulsoup4<5.0.0,>=4.9.1->deep-translator) (2.6)
Requirement already satisfied: charset-normalizer<4,>=2 in /opt/homebrew/lib/python3.11/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in /opt/homebrew/lib/python3.11/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (3.6)
Requirement already satisfied: urllib3<3,>=1.21.1 in /opt/homebrew/lib/python3.11/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2.2.0)
Requirement already satisfied: certifi>=2017.4.17 in /opt/homebrew/lib/python3.11/site-packages (from requests<3.0.0,>=2.23.0->deep-translator) (2023.11.17)
Requirement already satisfied: six>=1.5 in /opt/homebrew/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading deep_translator-1.11.4-py3-none-any.whl (42 kB)
Installing collected packages: deep-translator
Successfully installed deep-translator-1.11.4
Note: you may need to restart the kernel to use updated packages.

In [115]:
import pandas as pd
from deep_translator import GoogleTranslator
import time

# Load your existing cleaned DataFrame
df_morpho_translating = df_morpho_cleaned.copy()

# Columns to translate
columns_to_translate = [
    'moisture_degree', 'root_quantity', 'root_diameter', 'texture', 
    'structure_type', 'structure_class', 'structure_degree', 
    'pore_diameter', 'pore_quantity', 'pore_shape', 
    'dry_color_name', 'moist_color_name', 
    'compaction', 'durability', 'friability', 
    'thick_contents_count', 'thick_contents_nature'
]

# Safe translation function
def translate_text(text):
    if pd.isnull(text) or str(text).strip() == '':
        return text
    try:
        return GoogleTranslator(source='pt', target='en').translate(text)
    except Exception as e:
        print(f"‚ö†Ô∏è Failed to translate '{text}': {e}")
        return text

# Iterate column by column
for col in columns_to_translate:
    print(f"üîÑ Translating column: {col}")
    
    # Skip column if already translated
    if col + '_en' in df_morpho_translating.columns:
        print(f"‚úÖ Skipping {col} ‚Äî already translated.")
        continue

    # Translate only unique values for efficiency
    unique_vals = df_morpho_translating[col].dropna().unique()
    translation_dict = {}
    for val in unique_vals:
        translation_dict[val] = translate_text(val)
        time.sleep(0.5)  # avoid hitting rate limits

    # Map translations back to the column
    df_morpho_translating[col + '_en'] = df_morpho_translating[col].map(translation_dict).fillna(df_morpho_translating[col])
    
    # Save intermediate result after each column
    df_morpho_translating.to_csv("/Users/inesschwartz/Desktop/morpho_translated_partial.csv", index=False)
    print(f"‚úÖ Finished and saved column: {col}")

print("üéâ All columns translated and saved to 'morpho_translated_partial.csv'")

üîÑ Translating column: moisture_degree
‚úÖ Finished and saved column: moisture_degree
üîÑ Translating column: root_quantity
‚úÖ Finished and saved column: root_quantity
üîÑ Translating column: root_diameter
‚ö†Ô∏è Failed to translate 'Finas, medias e muito  grossas': Finas, medias e muito  grossas --> No translation was found using the current translator. Try another translator?
‚úÖ Finished and saved column: root_diameter
üîÑ Translating column: texture
‚ö†Ô∏è Failed to translate 'Muito argiloso a argiloso': Muito argiloso a argiloso --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Arenoso (um tanto grosseiro)': Arenoso (um tanto grosseiro) --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Franco-argiloso a argilo-arenoso': Franco-argiloso a argilo-arenoso --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Argiloso a argilo-arenoso grosseiro': Argiloso a argilo-arenoso grosseiro --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Arenoso (muito grosseiro)': Arenoso (muito grosseiro) --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Franco-arenoso pouco calcario': Franco-arenoso pouco calcario --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Areno-argiloso fino': Areno-argiloso fino --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Franco-arenoso a arenoso fino': Franco-arenoso a arenoso fino --> No translation was found using the current translator. Try another translator?
‚úÖ Finished and saved column: texture
üîÑ Translating column: structure_type
‚úÖ Finished and saved column: structure_type
üîÑ Translating column: structure_class
‚úÖ Finished and saved column: structure_class
üîÑ Translating column: structure_degree
‚úÖ Finished and saved column: structure_degree
üîÑ Translating column: pore_diameter
‚úÖ Finished and saved column: pore_diameter
üîÑ Translating column: pore_quantity
‚úÖ Finished and saved column: pore_quantity
üîÑ Translating column: pore_shape
‚úÖ Finished and saved column: pore_shape
üîÑ Translating column: dry_color_name
‚ö†Ô∏è Failed to translate 'pardo-amarelado': pardo-amarelado --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Pardo-acinzentado-escuro com leve tom pardo': Pardo-acinzentado-escuro com leve tom pardo --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Cinzento-rosado a pardo-acinzentado': Cinzento-rosado a pardo-acinzentado --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'pardo-acinzentado': pardo-acinzentado --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Vermelho com tom vermelho escuro': Vermelho com tom vermelho escuro --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Pardo-escuro a pardo com tom pardo-avermelhado': Pardo-escuro a pardo com tom pardo-avermelhado --> No translation was found using the current translator. Try another translator?
‚ö†Ô∏è Failed to translate 'Laranja com leve tom de pardo-forte': Laranja com leve tom de pardo-forte --> No translation was found using the current translator. Try another translator?

In [1]:
import pandas as pd
import re

# Load your DataFrame
df_morpho_translating = df_morpho_cleaned.copy()

# Column to extract words from
column = 'durability'

# Ensure column is string type
df_morpho_translating[column] = df_morpho_translating[column].astype(str)

# Combine all rows into one string and extract words
all_text = ' '.join(df_morpho_translating[column])
words = re.findall(r'\b\w+\b', all_text.lower())

# Get unique words
unique_words = sorted(set(words))

# Create empty translation dictionary
translation_dict = {word: '' for word in unique_words}

# Print for manual translation
print("üìù Unique words to translate:\n")
for word in unique_words:
    print(f"'{word}': '',")

# # Optional: Save to CSV for easier editing
# pd.DataFrame({'portuguese': unique_words, 'english': [''] * len(unique_words)}).to_csv(
#     '/Users/inesschwartz/Desktop/durability_words_to_translate.csv',
#     index=False
# )

print("\n‚úÖ Extracted", len(unique_words), "unique words from 'durability' column.")

NameError: name 'df_morpho_cleaned' is not defined

In [110]:
print(list(df_morpho_cleaned.columns))

['horizon_id', 'sample_id', 'profile_record_id', 'profile', 'horizon_layer', 'upper_depth', 'lower_depth', 'moisture_degree', 'root_quantity', 'root_diameter', 'texture', 'structure_type', 'structure_class', 'structure_degree', 'pore_diameter', 'pore_quantity', 'pore_shape', 'dry_color_name', 'dry_hue', 'dry_value', 'dry_chroma', 'moist_color_name', 'moist_hue', 'moist_value', 'moist_chroma', 'compaction', 'durability', 'friability', 'thick_contents_count', 'thick_contents_nature']

In [108]:
# save to csv
df_morpho_cleaned.to_csv("/Users/inesschwartz/Desktop/morpho_cleaned.csv")

In [61]:
## take out all decimals in sample_id (keep as just whole number)
# Function to truncate decimal part and return string
def truncate_to_int_string(x):
    try:
        return str(int(float(x)))
    except:
        return str(x).strip()  # fallback to string version if it can't convert

# Apply to sample_id column
df_morpho_cleaned['sample_id'] = df_morpho_cleaned['sample_id'].apply(truncate_to_int_string)

In [62]:
#sample_id(s) in morphology_cleaning but not in samples_check:
# Ensure both sample_id columns are strings for accurate comparison
df_morpho_cleaned['sample_id'] = df_morpho_cleaned['sample_id'].astype(str)
samples_check['sample_id'] = samples_check['sample_id'].astype(str)

# Get unique sample_id values in both DataFrames
morph_sample_ids = set(df_morpho_cleaned['sample_id'].dropna())
samples_check_ids = set(samples_check['sample_id'].dropna())

# Find sample_ids in morphology_cleaning but not in samples_check
sample_ids_not_in_check = sorted(morph_sample_ids - samples_check_ids)

# Print results
print(f"‚úÖ Found {len(sample_ids_not_in_check)} sample_id(s) in morphology_cleaning but not in samples_check:")
print(sample_ids_not_in_check)

‚úÖ Found 708 sample_id(s) in morphology_cleaning but not in samples_check:
['1024', '10338', '10339', '10340', '10341', '10342', '10343', '10344', '10345', '10346', '10347', '10348', '10377', '104', '10443', '10444', '10445', '10448', '10449', '10450', '10451', '10467', '10468', '10469', '10470', '10472', '105', '10558', '10562', '106', '107', '1089', '10901', '10902', '10903', '10904', '1091', '1092', '1094', '1099', '1100', '1108', '1110', '1111', '1117', '1119', '11373', '1138', '1140', '1142', '1144', '1147', '1149', '11492', '11493', '11494', '1152', '1154', '1156', '1158', '1160', '1182', '1183', '1184', '1186', '1187', '1188', '1189', '1190', '1191', '1198', '1200', '1204', '1205', '1206', '1208', '1209', '1211', '1212', '1213', '1215', '1217', '1219', '1220', '1222', '1223', '1224', '1225', '1227', '1229', '1231', '1233', '1234', '1235', '1236', '12450', '12451', '12452', '12494', '12495', '12496', '1250', '1252', '1255', '1256', '1257', '1274', '1275', '1286', '1287', '1288', '1291', '1292', '1298', '1299', '1303', '1323', '1324', '1325', '1328', '1329', '1333', '1335', '1338', '1339', '134', '1340', '1341', '1343', '135', '1350', '1352', '1355', '1356', '136', '1360', '1361', '1364', '1365', '1366', '1375', '1376', '1381', '1382', '1383', '1386', '1388', '13929', '13930', '13931', '13933', '13934', '13949', '1396', '1397', '1398', '1399', '140', '1401', '1403', '1406', '1408', '1412', '1413', '1415', '142', '1424', '1425', '1426', '1434', '14351', '14352', '14353', '1438', '144', '1440', '1441', '1442', '14451', '14452', '14453', '14454', '14455', '14508', '14509', '1452', '1453', '1455', '1456', '1458', '1459', '1460', '1461', '1462', '1463', '1465', '1466', '1473', '1475', '1482', '1483', '1484', '1485', '1487', '1488', '1489', '1490', '14900', '14901', '1493', '1494', '1495', '1496', '1497', '14982', '15314', '15315', '1542', '1543', '1544', '1546', '1548', '15769', '15770', '15771', '15772', '15773', '15774', '15775', '15776', '15777', '15778', '16400', '16401', '16402', '16403', '16404', '16405', '16424', '16425', '16426', '16427', '16428', '16429', '16633', '16634', '16637', '16638', '1678', '1680', '1681', '16826', '16827', '16828', '16829', '16830', '16845', '16846', '16847', '16848', '16849', '16850', '16851', '16852', '16853', '16855', '16867', '16868', '16869', '16870', '16872', '16873', '1699', '1700', '1701', '1702', '1703', '1704', '1711', '1712', '1713', '1718', '17794', '17795', '17796', '17797', '17798', '17799', '17884', '17885', '17886', '17887', '17888', '17889', '17890', '17994', '17995', '17996', '17997', '18025', '18026', '18027', '18028', '18058', '18059', '18060', '18061', '18062', '18063', '18077', '18078', '18079', '18080', '18100', '18101', '18102', '18103', '18104', '18441', '18442', '18443', '18444', '18445', '18446', '18447', '18736', '18737', '18738', '18739', '18740', '18774', '18775', '18776', '18777', '18778', '18779', '19176', '19177', '19178', '19179', '19180', '19181', '19182', '19183', '19184', '19185', '19186', '19187', '19188', '19189', '19190', '19192', '19193', '19194', '19195', '19196', '1924', '19240', '19241', '19242', '19243', '19244', '19251', '19252', '19253', '19254', '19255', '19267', '19268', '19269', '19270', '19271', '19283', '19284', '19285', '19286', '19287', '19298', '19299', '19301', '19302', '19303', '19304', '1932', '19330', '19331', '19332', '19333', '19334', '19371', '19372', '19373', '19374', '19375', '19431', '19432', '19433', '19434', '19435', '19436', '19437', '19438', '19439', '19440', '19448', '19449', '19450', '19451', '19467', '19468', '19469', '19537', '19538', '19539', '19541', '19542', '19543', '19544', '19545', '19550', '19551', '19552', '19553', '19554', '19556', '19557', '19558', '19565', '19566', '19567', '19568', '19569', '19570', '19571', '19572', '19573', '19574', '19575', '19576', '19577', '19579', '19580', '19581', '19582', '19583', '19585', '19586', '19587', '19588', '19654', '19655', '19656', '20880', '20881', '20882', '20883', '20891', '20892', '20893', '20894', '20895', '20896', '20897', '20898', '20899', '20905', '20906', '20907', '20908', '20909', '20910', '20911', '20912', '20914', '20915', '20916', '20917', '20918', '20919', '20920', '20921', '20925', '20926', '20927', '20955', '20956', '20957', '20958', '20959', '20970', '20971', '20972', '20973', '21002', '21003', '21004', '21005', '21006', '21007', '21528', '21529', '21530', '21531', '21533', '21534', '21535', '21536', '21542', '21543', '21544', '21545', '21546', '21547', '21548', '21555', '21556', '21557', '21558', '21575', '21576', '21577', '21603', '21604', '21605', '21606', '21613', '21614', '21615', '21616', '21617', '21618', '21619', '21620', '21627', '21629', '21630', '21634', '21635', '21636', '21637', '21642', '21643', '21644', '2165', '21652', '21653', '21654', '21666', '21667', '21668', '21669', '21670', '21671', '21672', '21673', '21674', '21704', '21705', '21706', '21707', '21708', '21711', '21712', '21713', '21714', '21715', '21716', '21718', '21719', '21720', '21721', '21724', '21725', '21726', '21727', '21728', '21732', '21733', '21734', '21735', '21736', '21744', '21745', '21746', '21747', '2410', '2668', '2709', '299', '3027', '3029', '303', '3227', '3229', '3231', '3506', '3568', '3919', '4241', '437', '438', '439', '4957', '4999', '50', '5000', '5010', '5036', '5045', '5052', '51', '5389', '5431', '5686', '5767', '577', '578', '579', '5792', '5886', '598', '599', '600', '607', '608', '609', '611', '612', '6332', '6335', '6336', '6339', '6341', '6342', '6356', '6357', '6358', '6373', '6375', '6376', '6386', '6387', '6388', '6390', '6391', '6436', '6438', '6439', '6475', '6476', '6477', '6478', '6479', '6481', '6667', '6668', '6675', '6704', '6705', '6707', '6710', '6824', '6836', '6840', '694', '695', '696', '7026', '7127', '7140', '7257', '7265', '7278', '7284', '7352', '7395', '74', '75', '76', '7815', '7931', '8000', '8057', '8058', '8066', '8067', '8068', '8077', '8332', '8336', '8339', '8431', '8493', '8565', '86', '87', '88', '89', '90', '91', '9202', '95', '9561', '96', '97', '98', '9986', 'NULL']

/var/folders/tp/79mdnyy56_xc3g1jvp9wf4_80000gn/T/ipykernel_2227/2573390024.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  samples_check['sample_id'] = samples_check['sample_id'].astype(str)

**consider just adding these 708 sample_id's to samples df (since they all have a related location)**

as composite keys?

deciding what to do about missing sample_id's in morphology
--> assumption: these horizons were not sampled, but just reviewed visually
--> incorrect bc there are over 9000 sample_id's from sample df that do not have a morpho_id

--> will probably just use profile record_id for visualization

In [63]:
merged1.head()

,lab_sample_id,analysis_id,horizon_id,sample_id,EG,thick_clay,fine_clay,silt,clay,Eq_Hum,...,Ta,W,Pt,Au,Hg,Tl,Pb,Bi,Th,U
0,1,B_101/62_1_1,B_101/62_1_1,10999,NaN,61.700001,32.8,0.2,5.3,4.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,B_101/62_2_1,B_101/62_2_1,11000,NaN,52.799999,35.1,0.7,11.4,6.4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,B_101/62_3_1,B_101/62_3_1,11001,NaN,42.500000,46.2,0.2,11.1,6.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,B_101/62_4_1,B_101/62_4_1,11002,NaN,42.599998,41.8,0.2,15.4,5.2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,B_101/62_5_21,B_101/62_5_2,11003,NaN,36.799999,47.5,1.2,14.5,7.3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [64]:
# Ensure sample_id columns are strings and stripped
df_morpho_cleaned['sample_id'] = df_morpho_cleaned['sample_id'].astype(str).str.strip()
merged1['sample_id'] = merged1['sample_id'].astype(str).str.strip()

# Merge to add analysis_id, sample_id (from merged1) onto df_morpho_cleaned based on horizon_id
df_morpho_enriched = df_morpho_cleaned.merge(
    merged1[['horizon_id', 'analysis_id', 'sample_id']],
    on='horizon_id',
    how='left'
)

# Rows with missing analysis_id mean df_morpho_cleaned sample_id is not in merged1
missing_analysis = df_morpho_enriched[df_morpho_enriched['analysis_id'].isna()]
print(f"Number of rows missing analysis_id after merge: {len(missing_analysis)}")

# Inspect some missing rows to understand the issue
print(missing_analysis.sample(min(10, len(missing_analysis))))

Number of rows missing analysis_id after merge: 3965
           horizon_id sample_id_x  profile  horizon_layer  upper_depth  \
1399    Cb_127/59_3_0        NULL   127_59            3.0         17.0
7752   Mj_267c/63_1_0        NULL  267C_63            1.0          0.0
1969    Cb_226/59_2_0        NULL   226_59            2.0         12.0
7125    Mj_215/63_5_0        NULL   215_63            5.0        103.0
6118    Mj_122/63_4_0        NULL   122_63            4.0         36.0
5929   Mj_107c/63_1_0        NULL  107C_63            1.0          0.0
10356  UZ_244c/60_2_0        NULL  244C_60            2.0          7.0
6799    Mj_189/63_1_0        NULL   189_63            1.0          0.0
7199    Mj_221/63_1_0        NULL   221_63            1.0          0.0
8674    Mj_352/63_7_0        NULL   352_63            7.0        129.0

       lower_depth                                     dry_color_name dry_hue  \
1399          31.0                                              Pardo    10YR
7752          20.0                               Pardo a pardo-escuro   7,5YR
1969          30.0                           Pardo-acinzentado-escuro    10YR
7125         146.0                                Pardo-claro a pardo   7,5YR
6118          60.0                                            Laranja     5YR
5929          17.0                                Pardo a pardo-claro    10YR
10356         18.0                       Pardo a pardo-escuro a pardo    10YR
6799          15.0                                    Cinzento-escuro    10YR
7199          11.0  Pardo-acinzentado com tom pardo-acinzentado-es...    10YR
8674         185.0                                                NaN     NaN

       dry_value  dry_chroma  ...         pore_quantity        pore_diameter  \
1399         5.0         3.0  ...         Quase fechado                  NaN
7752         4.0         2.0  ...          Pouco poroso          Muito finos
1969         4.0         2.0  ...          Pouco poroso                  NaN
7125         6.0         4.0  ...          Pouco poroso          Muito finos
6118         5.0         6.0  ...  Moderadamente poroso  Muito finos e finos
5929         5.0         3.0  ...  Moderadamente poroso  Muito finos e finos
10356        4.5         3.0  ...          Pouco poroso                  NaN
6799         4.0         1.0  ...          Pouco poroso          Muito finos
7199         5.0         2.0  ...          Pouco poroso  Muito finos e finos
8674         NaN         NaN  ...               Fechado                  NaN

       pore_shape                              root_quantity  \
1399          NaN               Algumas finas e raras medias
7752          NaN              Muitas finas e algumas medias
1969          NaN                                    Algumas
7125          NaN                                     Poucas
6118          NaN                Poucas finas e raras medias
5929          NaN    Muitas finas e algumas medias e grossas
10356         NaN              Muitas finas e algumas medias
6799          NaN                                     Poucas
7199          NaN  Bastantes finas e poucas medias e grossas
8674          NaN                                 Sem raizes

                 root_diameter  \
1399                       NaN
7752                       NaN
1969            Finas (< 1 mm)
7125            Finas (< 1 mm)
6118                       NaN
5929                       NaN
10356                      NaN
6799   Finas, medias e grossas
7199                       NaN
8674                       NaN

                                         moisture_degree Unnamed: 46  \
1399                                          Quase seco         NaN
7752                                                Seco         NaN
1969                                                Seco         NaN
7125                                              Fresco         NaN
6118                                                Seco         NaN
5929                                                Seco         NaN
10356                                         Quase seco         NaN
6799                                                Seco         NaN
7199                                                Seco         NaN
8674   Muito humido a humido e muito humido com a pro...         NaN

      profile_record_id analysis_id sample_id_y
1399               <NA>         NaN         NaN
7752               <NA>         NaN         NaN
1969               <NA>         NaN         NaN
7125               <NA>         NaN         NaN
6118               <NA>         NaN         NaN
5929               <NA>         NaN         NaN
10356              <NA>         NaN         NaN
6799               <NA>         NaN         NaN
7199               <NA>         NaN         NaN
8674               <NA>         NaN         NaN

[10 rows x 34 columns]

In [65]:
#452 duplicate horizon_id in analysis df
# are there multiple horizon_id's per analysis_id?
# is it an error that can resolved w new unique id
dupes = merged1[merged1['horizon_id'].duplicated(keep=False)]
print(f"‚ö†Ô∏è Duplicated horizon_ids in merged1: {dupes['horizon_id'].nunique()}")
dupes_sorted = dupes.sort_values('horizon_id')
print(dupes_sorted.head(10))

‚ö†Ô∏è Duplicated horizon_ids in merged1: 452
     lab_sample_id    analysis_id    horizon_id sample_id   EG  thick_clay  \
4                5  B_101/62_5_21  B_101/62_5_2     11003  NaN   36.799999
5                6  B_101/62_5_22  B_101/62_5_2     11004  NaN   45.099998
75              76  B_148/62_2_21  B_148/62_2_2     11285  NaN   21.799999
76              77  B_148/62_2_22  B_148/62_2_2     11286  NaN   22.000000
85              86   B_15/62_5_21   B_15/62_5_2     10843  NaN   27.100000
86              87   B_15/62_5_22   B_15/62_5_2     10844  NaN   27.200001
105            106  B_154/61_3_21  B_154/61_3_2     10335  NaN   17.799999
106            107  B_154/61_3_22  B_154/61_3_2     10336  NaN   18.700001
143            144  B_187/61_4_21  B_187/61_4_2     10428  1.0   31.900000
144            145  B_187/61_4_22  B_187/61_4_2     10429  1.0   33.000000

     fine_clay  silt  clay  Eq_Hum  ...  Ta   W  Pt  Au  Hg  Tl  Pb  Bi  Th  \
4         47.5   1.2  14.5     7.3  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
5         41.8   1.4  11.7     0.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
75        73.7   2.3   2.1     0.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
76        73.4   3.1   1.5     0.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
85        45.1   1.6  26.1     0.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
86        44.7   2.2  25.9     0.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
105       10.2   5.6  66.4    27.6  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
106       11.7   4.6  65.1     0.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
143       49.0   2.9  16.2     0.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN
144       46.8   3.0  17.2     0.0  ... NaN NaN NaN NaN NaN NaN NaN NaN NaN

      U
4   NaN
5   NaN
75  NaN
76  NaN
85  NaN
86  NaN
105 NaN
106 NaN
143 NaN
144 NaN

[10 rows x 70 columns]

In [66]:
missing_in_merged1 = df_morpho_cleaned[~df_morpho_cleaned['horizon_id'].isin(merged1['horizon_id'])]


summary = pd.DataFrame({
    'total_in_morpho': [df_morpho_cleaned['horizon_id'].nunique()],
    'total_in_merged1': [merged1['horizon_id'].nunique()],
    'dupes_in_merged1': [merged1['horizon_id'].duplicated().sum()],
    'missing_in_merged1': [len(missing_in_merged1)]
})

print(summary)

   total_in_morpho  total_in_merged1  dupes_in_merged1  missing_in_merged1
0            10434              7292               506                3965

# Soil Type Table

In [67]:
# Rename columns
soil_type = soil_profile.copy()

soil_type.rename(columns={
    'Perfil': 'profile',
    'Agrupamento': 'grouping',
    'Pro': 'province',
    'Pa√≠s': 'country',
    'Local': 'location',
    'DATA': 'date',
    'CEP_NOME': 'CEP_NAME',
}, inplace=True)

# Drop unnecessary columns
soil_type_cleaning = soil_type.drop(columns=[
    'REF', 'province', 'country', 'location', 'DESCRITOR1', 'DESCRITOR2', 'DESCRITOR3',
    'date', 'Fase', 'D_INSER√áAO', 'Publica√ß√£o', 'WRB_old', 'Miss√£o'
], errors='ignore')  # use errors='ignore' in case some columns were already missing

# Add a new Primary Key ID column starting from 1
soil_type_cleaning.insert(0, 'soil_type_id', range(1, len(soil_type_cleaning) + 1))

# Drop accents
import unicodedata

def remove_accents(text):
    if isinstance(text, str):
        text = unicodedata.normalize('NFKD', text)
        return ''.join(c for c in text if not unicodedata.combining(c))
    return text

# Apply to all cells in the DataFrame
soil_type_cleaning = soil_type_cleaning.applymap(remove_accents)

# Replace / with _ and strip/shorten 'profile' BEFORE slicing into site_info_clean
soil_type_cleaning['profile'] = (
    soil_type_cleaning['profile']
    .astype(str)
    .str.replace('/', '_')
    .str.strip()
    .str[:20]
)

# Keep only relevant columns
soil_type_clean = soil_type_cleaning[[
    'soil_type_id',
    'profile',
    'CEP_GR',
    'CEP_NAME',
    'FAO'
]]

# Preview
soil_type_clean.head(2)

   soil_type_id profile    CEP_GR                               CEP_NAME   FAO
0             1    1_51       NaN                                    NaN   NaN
1             2    1_57  Aridicos  Aridicos com calcario Pardo-cinzentos  CLha

In [68]:
# check duplicates
# Filter out and print duplicated samples (including the first occurrence)
duplicated_values_st = soil_type_clean['profile'][soil_type_clean['profile'].duplicated()].unique()
print(duplicated_values_st)

[]

In [69]:
# Check for profile values that are the string "NULL"
null_string_values_st = soil_type_clean[soil_type_clean['profile'] == "NULL"]['profile'].unique()
print("üîç Unique 'profile' values equal to string 'NULL':", null_string_values_st)

null_string_count_st = (soil_type_clean['profile'] == "NULL").sum()
print(f"üî¢ Number of 'profile' values equal to string 'NULL': {null_string_count_st}")

üîç Unique 'profile' values equal to string 'NULL': []
üî¢ Number of 'profile' values equal to string 'NULL': 0

In [70]:
import pandas as pd

# ---------------------------------------
# 1. Define cleaning function for profile
# ---------------------------------------
def clean_profile_column(series):
    return (
        series.astype(str)
        .str.replace('/', '_')
        .str.strip()
        .str.upper()
        .str[:20]
    )

# ---------------------------------------
# 2. Safely clean 'profile' columns
# ---------------------------------------
site_info_clean = site_info_clean.copy()
soil_type_clean = soil_type_clean.copy()

site_info_clean.loc[:, 'profile'] = clean_profile_column(site_info_clean['profile'])
soil_type_clean.loc[:, 'profile'] = clean_profile_column(soil_type_clean['profile'])

# ---------------------------------------
# 3. Create sets of unique profiles
# ---------------------------------------
site_profiles = set(site_info_clean['profile'].unique())
soil_profiles = set(soil_type_clean['profile'].unique())

# ---------------------------------------
# 4. Compare overlaps and mismatches
# ---------------------------------------
only_in_site_info = site_profiles - soil_profiles
only_in_soil_type = soil_profiles - site_profiles
in_both = site_profiles & soil_profiles

# ---------------------------------------
# 5. Report results
# ---------------------------------------
print(f"Total profiles in site_info_clean: {len(site_profiles)}")
print(f"Total profiles in soil_type_clean: {len(soil_profiles)}")
print()
print(f"‚úÖ Profiles in both: {len(in_both)}")
print(f"‚ùå Profiles only in site_info_clean: {len(only_in_site_info)} "
      f"({len(only_in_site_info) / len(site_profiles) * 100:.1f}%)")
print(f"‚ùå Profiles only in soil_type_clean: {len(only_in_soil_type)} "
      f"({len(only_in_soil_type) / len(soil_profiles) * 100:.1f}%)")

Total profiles in site_info_clean: 4321
Total profiles in soil_type_clean: 2518

‚úÖ Profiles in both: 2376
‚ùå Profiles only in site_info_clean: 1945 (45.0%)
‚ùå Profiles only in soil_type_clean: 142 (5.6%)

In [71]:
#export for investigation

unmatched_site_info = site_info_clean[site_info_clean['profile'].isin(only_in_site_info)]
unmatched_site_info.to_csv("unmatched_profiles_site_info.csv", index=False)

Save clean table

# Climate table

In [72]:
# Load original Excel data
profile_loc = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Perfis_local.xlsx")

# Create a copy for cleaning
climate_features_cleaning = profile_loc.copy()

# Mapping from climate codes to descriptions
code_to_description = {
    "B1": "H√∫mido",
    "B2": "H√∫mido",
    "B3": "H√∫mido",
    "B4": "H√∫mido",
    "C1": "Sub-h√∫mido seco",
    "C2": "Sub-h√∫mido chuvoso",
    "D": "Semi-√°rido",
    "E": "√Årido",
    "Aw": "Tropical chuvoso com esta√ß√£o seca no Inverno, de savana",
    "BSw": "Seco de estepe, com chuva predominante no Ver√£o",
    "BWw": "Seco de deserto, com chuva predominante no Ver√£o",
    "Cw": "Mesot√©rmico h√∫mido com esta√ß√£o seca no Inverno",
    "ARe": "Ar√≠dico extremo",
    "ARf": "Ar√≠dico fraco",
    "ARt": "Ar√≠dico t√≠pico",
    "tUDs": "Temp√∫dico seco",
    "tUSh": "Temp√∫stico h√∫mido",
    "tUSt": "Temp√∫stico t√≠pico",
    "TUDs": "Trop√∫dico seco",
    "TUSa": "Trop√∫stico ar√≠dico",
    "TUSu": "Trop√∫stico √∫dico",
    "TUSt": "Tropustico t√≠pico",
    "H": "Hipert√©rmico",
    "iH": "Iso-Hipert√©rmico",
    "iT": "Iso-T√©rmico",
    "T": "T√©rmico"
}

# Replace climate codes with descriptions
for col in ["CL_THORNTH", "CL_KOPPEN", "REG_H√çDRIC", "REG_T√âRMIC"]:
    climate_features_cleaning[col] = climate_features_cleaning[col].replace(code_to_description)

# Function to average values like "21-22" -> 21.5
def average_range(value):
    if isinstance(value, str) and '-' in value:
        try:
            nums = [float(x.strip()) for x in value.split('-')]
            return sum(nums) / len(nums)
        except:
            return None
    try:
        return float(value)
    except:
        return None

# Apply to temperature and precipitation columns
climate_features_cleaning["TMA"] = climate_features_cleaning["TMA"].apply(average_range)
climate_features_cleaning["PMA"] = climate_features_cleaning["PMA"].apply(average_range)

# Rename columns for clarity
climate_features_cleaning.rename(columns={
    'PERFIL': 'profile',
    'CL_THORNTH': 'thornthwaite_climate',
    'CL_KOPPEN': 'koppen_climate',
    'TMA': 'mean_annual_temp',
    'PMA': 'mean_annual_precip',
    'REG_H√çDRIC': 'hydric_regime',
    'REG_T√âRMIC': 'thermal_regime'
}, inplace=True)

# ensure consistent profile formatting
climate_features_cleaning['profile'] = climate_features_cleaning['profile'].astype(str).str.replace('/', '_').str.strip().str[:20]

# Drop accents from text values
def remove_accents(text):
    if isinstance(text, str):
        text = unicodedata.normalize('NFKD', text)
        return ''.join(c for c in text if not unicodedata.combining(c))
    return text

climate_features_cleaning = climate_features_cleaning.applymap(remove_accents)

# Add primary key column
climate_features_cleaning.insert(0, 'climate_id', range(1, len(climate_features_cleaning) + 1))

# Replace empty strings or nulls in numeric columns with \N (Postgres null)
for col in ['mean_annual_temp', 'mean_annual_precip']:
    climate_features_cleaning[col] = climate_features_cleaning[col].replace(
        ['', ' ', 'NULL', None, pd.NA, pd.NaT, 'nan', float('nan')], ''
    )

# Select and reorder relevant columns for export
climate_features_clean = climate_features_cleaning[[
    'climate_id',
    'profile',
    'ID',
    'mean_annual_temp',
    'mean_annual_precip',
    'koppen_climate',
    'thornthwaite_climate',
    'hydric_regime',
    'thermal_regime'
]]

# Preview
climate_features_clean.head()

,climate_id,profile,ID,mean_annual_temp,mean_annual_precip,koppen_climate,thornthwaite_climate,hydric_regime,thermal_regime
0,1,1_57,2770,,,NaN,Arido,NaN,NaN
1,2,1_59,48,,,NaN,Humido,NaN,NaN
2,3,1_61,1618,,,NaN,NaN,NaN,NaN
3,4,1_63,881,21.5,1500.0,"Tropical chuvoso com estacao seca no Inverno, ...",Humido,Tropustico udico,Iso-Hipertermico
4,5,1_64,1750,,,NaN,NaN,NaN,NaN

Check FK relationships and datatypes

In [73]:
# Check and print the datatypes of each column
print("Data types of each column in profile_clean:\n")
print(climate_features_clean.dtypes)

Data types of each column in profile_clean:

climate_id               int64
profile                 object
ID                       int64
mean_annual_temp        object
mean_annual_precip      object
koppen_climate          object
thornthwaite_climate    object
hydric_regime           object
thermal_regime          object
dtype: object

# Topo features table

In [74]:
# Create a copy for cleaning
topo_features_cleaning = profile_loc.copy()

# Rename columns for clarity
topo_features_cleaning.rename(columns={
    'PERFIL': 'profile',
    'TOPOGRAFIA': 'slope_code',
    'ALTITUDE': 'altitude',
}, inplace=True)

# ensure consistent profile formatting
topo_features_cleaning['profile'] = topo_features_cleaning['profile'].astype(str).str.replace('/', '_').str.strip().str[:20]

# Add missing columns
topo_features_cleaning['aspect'] = pd.NA  
topo_features_cleaning['land_surface_temp'] = pd.NA
topo_features_cleaning['dem_elevation'] = pd.NA  

# Add primary key column
topo_features_cleaning.insert(0, 'topo_features_id', range(1, len(topo_features_cleaning) + 1))

# Create slope class mapping dictionary
slope_code_to_description = {
    "D1": "Plano (Declives < 2%)",
    "D2": "Ondulado muito suave (Declives > 2% e < 3%)",
    "D3": "Ondulado suave (Declives > 3% e < 5%)",
    "D4": "Ondulado (Declives > 5% e < 8%)",
    "D5": "Acidentado (Declives > 8% e < 15%)",
    "D6": "Escarpado (Declives >15% e < 30%)",
    "D7": "Montanhoso (Declives > 30%)"
}

# Create a mapping DataFrame for slope classes
slope_classes_df = pd.DataFrame([
    {"slope_code": code, "slope_description": desc}
    for code, desc in slope_code_to_description.items()
])

#drop accents
import unicodedata
def remove_accents(text):
    if isinstance(text, str):
        # Normalize and remove diacritics
        text = unicodedata.normalize('NFKD', text)
        text = ''.join(c for c in text if not unicodedata.combining(c))
        return text
    return text

# Apply to all cells in the DataFrame
topo_features_cleaning = topo_features_cleaning.applymap(remove_accents)

# Final cleaned topo features table (referencing slope_code, not description)
topo_features_clean = topo_features_cleaning[[
    'topo_features_id',
    'ID',
    'profile', 
    'slope_code',
    'altitude',
    'aspect',
    'land_surface_temp',
    'dem_elevation'
]]

# Preview
topo_features_clean.head()

,topo_features_id,ID,profile,slope_code,altitude,aspect,land_surface_temp,dem_elevation
0,1,2770,1_57,NaN,32.0,<NA>,<NA>,<NA>
1,2,48,1_59,D5,NaN,<NA>,<NA>,<NA>
2,3,1618,1_61,NaN,NaN,<NA>,<NA>,<NA>
3,4,881,1_63,D1,1210.0,<NA>,<NA>,<NA>
4,5,1750,1_64,NaN,NaN,<NA>,<NA>,<NA>

# Geological features table

In [75]:
# Load cleaned geo features data
geo_features_cleaning = pd.read_excel("/Users/inesschwartz/GreenDataScience/Thesis/tables_soil_database/Perfis_local.xlsx")

# Rename columns
geo_features_cleaning.rename(columns={
    'PERFIL': 'profile',
    'GEOLOGIA': 'geology_id',
    'LITOLOGIA': 'lithology_id',
    'LITOLOGIA_1954': 'lithology_1954_id',
}, inplace=True)

# Add primary key column
geo_features_cleaning.insert(0, 'geo_features_id', range(1, len(geo_features_cleaning) + 1))

# Final normalized geo_features table (with codes as foreign keys)
geo_features_clean = geo_features_cleaning[[
    'geo_features_id',
    'profile',
    'ID',
    'geology_id',
    'lithology_id',
    'lithology_1954_id'
]]

# ensure consistent profile formatting
geo_features_clean['profile'] = geo_features_clean['profile'].astype(str).str.replace('/', '_').str.strip().str[:20]

#drop accents
import unicodedata
def remove_accents(text):
    if isinstance(text, str):
        # Normalize and remove diacritics
        text = unicodedata.normalize('NFKD', text)
        text = ''.join(c for c in text if not unicodedata.combining(c))
        return text
    return text

# Apply to all cells in the DataFrame
geo_features_clean = geo_features_clean.applymap(remove_accents)

#preview
geo_features_clean.head()

/var/folders/tp/79mdnyy56_xc3g1jvp9wf4_80000gn/T/ipykernel_2227/2818143663.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  geo_features_clean['profile'] = geo_features_clean['profile'].astype(str).str.replace('/', '_').str.strip().str[:20]

,geo_features_id,profile,ID,geology_id,lithology_id,lithology_1954_id
0,1,1_57,2770,NaN,d,NaN
1,2,1_59,48,Oendolongo,pp,Sistema do Maiombe
2,3,1_61,1618,NaN,NaN,NaN
3,4,1_63,881,Karroo,Cs/Cal,Serie de Cassanje - T2'T1
4,5,1_64,1750,NaN,NaN,NaN

In [76]:
## mapping tables
# Mappings for geology
geology_mapping = {
    "Kalahari": "Sistema do Kalahari",
    "Superficiais": "Forma√ß√µes Superficiais",
    "Karroo": "Sistema do Karroo",
    "Bembe": "Sistema do Bembe",
    "Oendolongo": "Sistema do Oendolongo",
    "Base": "Complexo de base",
    "Proteroz√≥ico": "Proteroz√≥ico",
    "Pleistoc√©nico": "Pleistoc√©nico",
    "Terci√°rio": "Terci√°rio (m√©dio e inferior)",
    "TQ": "Quatern√°rio e Terci√°rio superior",
    "Cret√°cio": "",  # no description provided
    "RPKS": "Recente Plistoc√©nico e Kalahari Superior"
}

# Mappings for lithology_1954
lithology_1954_mapping = {
    "Œ≥": "Granitos, Granodioritos e Quartzodioritos",
    "PL": "Xistos, metaquartzitos, conglomerados, arcoses, ect.",
    "Œª": "Rochas eruptivas indeterminadas",
    "Œ¥p": "Doleritos, doleritos pigeon√≠ticos",
    "Œ¥ab": "Diabases, diabases albito-cloriticas",
    "Œµ": "Noritos, gabros e peridotitos",
    "JK": "Composto de conglomerados, areias, cascalhos do Kalahari",
    "C": "S√©rie Xisto - calc√°ria",
    "Cal": "Sedimentos arenosos n√£o consolidados",
    "K": "S√©rie xisto - gresosa",
    "RT": "N√£o diferenciado",
    "œÉ": "Sienitos, sienitos nefel√≠nicos",
    "Q": "Dep√≥sitos fossil√≠feros",
    "CS": "Grande conglomerado e s√©rie de Mwashya"
}

# Mappings for lithology
lithology_mapping = {
    "a": "Rochas aren√°ceas consolidadas",
    "aq": "Gr√©s quartz√≠ticos do Oendolongo",
    "b": "Rochas eruptivas b√°sicas",
    "c": "Rochas sedimentares consolidadas calc√°rias",
    "c'": "Rochas sedimentares n√£o consolidadas calc√°rias",
    "cg": "Rochas cristalof√≠licas argil√°ceas",
    "d": "Sedimentos n√£o consolidados de origem marinha",
    "dc": "Dep√≥sitos coluvionares",
    "dr": "Dior√≠tos",
    "e": "Rochas sedimentares consolidadas n√£o calc√°rias",
    "g": "Rochas argil√°ceas consolidadas n√£o calc√°rias",
    "g'": "Rochas argil√°ceas n√£o consolidadas n√£o calc√°rias",
    "g''": "Rochas cristalinas pouco micas em quartzo",
    "gp": "Rochas do  complexo gabro-plagioclast√≠co",
    "k": "Sedimentos n√£o consolidados grosseiros do Kalahari",
    "m": "Rochas sedimentares n√£o consolidadas calco-gips√≠feras",
    "m'": "Dep√≥sitos coluvionares margosos",
    "mm": "Materiais mistos",
    "n": "Sedimentos n√£o consolidados de origem continental",
    "nd": "n√£o descrito",
    "pp": "Sedimentos n√£o consolidados grosseiros plio-plistoc√©nicos",
    "q": "Rochas cristalinas quartz√≠feras",
    "q'": "Materiais redistribu√≠dos provenientes de desagrega√ß√£o rochas crist. quartz√≠feras",
    "qf": "Quartzitos ferruginosos do Oendolongo",
    "r": "Sedimentos grosseiros n√£o especificados",
    "s": "Sienitos",
    "sx": "Forma√ß√µes (ou rochas) sedimentares n√£o especificadas",
    "sx1": "Rochas sedimentares consolidadas com e sem calc√°rio",
    "sx2": "Rochas sedimentares consolidadas",
    "v": "Materiais vulc√¢nicos",
    "v'": "Rochas do complexo alcalino e/ou carboat√≠tico",
    "x": "Rochas consolidadas n√£o especificadas",
    "xm": "Xistos metam√≥rficos",
    "xq": "Rochas cristalinas n√£o especificadas",
    "z": "Rochas metassedimentares"
}

# Save each mapping as a DataFrame
pd.DataFrame([
    {"geology_code": k, "geology_description": v}
    for k, v in geology_mapping.items()
]).to_csv("/Users/inesschwartz/GreenDataScience/Thesis/tables_clean/geology_mapping.csv", index=False)

pd.DataFrame([
    {"lithology_code": k, "lithology_description": v}
    for k, v in lithology_mapping.items()
]).to_csv("/Users/inesschwartz/GreenDataScience/Thesis/tables_clean/lithology_mapping.csv", index=False)

pd.DataFrame([
    {"lithology_1954_code": k, "lithology_1954_description": v}
    for k, v in lithology_1954_mapping.items()
]).to_csv("/Users/inesschwartz/GreenDataScience/Thesis/tables_clean/lithology1954_mapping.csv", index=False)

# District table

**don't need**

Why do I need to make a separate table??

# Minerology info table

# Biology Info table

# Checking CSV Datatypes before DB export

In [77]:
import pandas as pd
import os

# Set the path to your folder containing the 10 CSV files
csv_folder = "/Users/inesschwartz/GreenDataScience/Thesis/tables_clean"  

# List all CSV files in the folder
csv_files = [f for f in os.listdir(csv_folder) if f.endswith(".csv")]

# Loop through each file and display column data types
for file in csv_files:
    file_path = os.path.join(csv_folder, file)
    print(f"\nüìÑ File: {file}")
    
    try:
        df = pd.read_csv(file_path)
        print(df.dtypes)
    except Exception as e:
        print(f"‚ö†Ô∏è Error reading {file}: {e}")

üìÑ File: analyses.csv
lab_sample_id      int64
sample_id        float64
EG               float64
thick_clay       float64
fine_clay        float64
                  ...
Tl               float64
Pb               float64
Bi               float64
Th               float64
U                float64
Length: 68, dtype: object

üìÑ File: soil_type_clean.csv
soil_type_id     int64
profile         object
CEP_GR          object
CEP_NAME        object
FAO             object
dtype: object

üìÑ File: analyses_clean.csv
lab_sample_id      int64
analysis_id       object
horizon_id        object
sample_id         object
EG               float64
                  ...
Tl               float64
Pb               float64
Bi               float64
Th               float64
U                float64
Length: 70, dtype: object

üìÑ File: profile_record.csv
profile_record_id      int64
profile               object
site_info_id         float64
soil_type_id         float64
sample_id              int64
dtype: object

üìÑ File: soil_type.csv
soil_type_id     int64
profile         object
CEP_GR          object
CEP_NAME        object
FAO             object
dtype: object

üìÑ File: morpho_cleaned.csv
Unnamed: 0                              int64
horizon_id                             object
sample_id                             float64
profile                                object
horizon_layer                         float64
upper_depth                           float64
lower_depth                           float64
dry_color_name                         object
dry_hue                                object
dry_value                             float64
dry_chroma                            float64
moist_color_name                       object
moist_hue                              object
moist_value                           float64
moist_chroma                          float64
Manchas                                object
texture                                object
Abund√¢ncia de elementos grosseiros     object
Forma de elementos grosseiros          object
Natureza de elementos grosseiros       object
structure_type                         object
structure_class                        object
structure_degree                       object
compaction                             object
durability                             object
pore_quantity                          object
pore_diameter                          object
pore_shape                            float64
root_quantity                          object
root_diameter                          object
moisture_degree                        object
Unnamed: 46                           float64
profile_record_id                     float64
dtype: object

üìÑ File: geology_mapping.csv
geology_code           object
geology_description    object
dtype: object

üìÑ File: topo_feat_clean.csv
topo_features_id       int64
slope_code            object
altitude             float64
aspect               float64
land_surface_temp    float64
dem_elevation        float64
dtype: object

üìÑ File: lithology1954_mapping.csv
lithology_1954_code           object
lithology_1954_description    object
dtype: object

üìÑ File: samples.csv
sample_id         int64
site_info_id     object
profile          object
horizon_id       object
year            float64
shelf            object
room             object
dtype: object

üìÑ File: morphology_horizon.csv

/var/folders/tp/79mdnyy56_xc3g1jvp9wf4_80000gn/T/ipykernel_2227/3654665737.py:16: DtypeWarning: Columns (13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

horizon_id            object
sample_id            float64
profile_record_id    float64
horizon_layer        float64
upper_depth          float64
lower_depth          float64
moisture_degree       object
root_quantity         object
root_diameter         object
texture               object
structure_type        object
structure_class       object
structure_degree      object
pore_diameter         object
pore_quantity         object
pore_shape            object
dry_color_name        object
dry_hue               object
dry_value            float64
dry_chroma           float64
moist_color_name      object
moist_hue             object
moist_value          float64
moist_chroma         float64
compaction            object
durability            object
dtype: object

üìÑ File: site_info.csv
site_info_id          int64
profile              object
X_coord             float64
Y_coord             float64
district             object
geo_features_id       int64
climate_id            int64
topo_features_id      int64
dtype: object

üìÑ File: profile_record_clean.csv
profile_record_id      int64
profile               object
site_info_id         float64
soil_type_id         float64
sample_id              int64
dtype: object

üìÑ File: morphology_horizon_clean.csv
horizon_id            object
sample_id            float64
profile_record_id    float64
horizon_layer        float64
upper_depth          float64
lower_depth          float64
moisture_degree       object
root_quantity         object
root_diameter         object
texture               object
structure_type        object
structure_class       object
structure_degree      object
pore_diameter         object
pore_quantity         object
pore_shape            object
dry_color_name        object
dry_hue               object
dry_value            float64
dry_chroma           float64
moist_color_name      object
moist_hue             object
moist_value          float64
moist_chroma         float64
compaction            object
durability            object
dtype: object

üìÑ File: lithology_mapping.csv
lithology_code           object
lithology_description    object
dtype: object

üìÑ File: topo_feat.csv
topo_features_id       int64
slope_code            object
altitude             float64
aspect               float64
land_surface_temp    float64
dem_elevation        float64
dtype: object

üìÑ File: climate_feat_clean.csv
climate_id                int64
mean_annual_temp        float64
mean_annual_precip      float64
koppen_climate           object
thornthwaite_climate     object
hydric_regime            object
thermal_regime           object
dtype: object

üìÑ File: geo_feat.csv
geo_features_id       int64
geology_id           object
lithology_id         object
lithology_1954_id    object
dtype: object

üìÑ File: site_info_clean.csv
site_info_id          int64
profile              object
X_coord             float64
Y_coord             float64
district             object
geo_features_id       int64
climate_id            int64
topo_features_id      int64
dtype: object

üìÑ File: samples_clean.csv
sample_id         int64
site_info_id     object
profile          object
horizon_id       object
year            float64
shelf            object
room             object
dtype: object

üìÑ File: districts_clean.csv
district_id     int64
district       object
dtype: object

üìÑ File: geo_feat_clean.csv
geo_features_id       int64
geology_id           object
lithology_id         object
lithology_1954_id    object
dtype: object

üìÑ File: climate_feat.csv
climate_id                int64
mean_annual_temp        float64
mean_annual_precip      float64
koppen_climate           object
thornthwaite_climate     object
hydric_regime            object
thermal_regime           object
dtype: object

/var/folders/tp/79mdnyy56_xc3g1jvp9wf4_80000gn/T/ipykernel_2227/3654665737.py:16: DtypeWarning: Columns (13,15) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

# Foreign key imports and datatype consistency

In [78]:
## standardize datatypes for identifiers
def convert_identifiers_to_string(df, id_columns):
    """
    Converts specified identifier columns in a DataFrame to string type,
    safely handling float64 values and preserving missing values (NA).
    Avoids SettingWithCopyWarning.
    """
    df = df.copy()  # ensure we're working with a copy, not a slice
    for col in id_columns:
        if col in df.columns:
            df.loc[:, col] = df[col].apply(
                lambda x: str(int(x)) if pd.notna(x) and isinstance(x, float) and x.is_integer()
                else str(x) if pd.notna(x)
                else pd.NA
            ).astype("string")
    return df

#usage

# Define identifier columns
identifier_columns = [
    'sample_id', 'site_info_id', 'profile',
    'horizon_id', 'lab_sample_id', 'lab_sample_id', 'climate_id', 'geo_features_id', 'topo_features_id', 'profile_record_id'
]

# Apply to each relevant dataframe
samples_check = convert_identifiers_to_string(samples_check, identifier_columns)
df_morpho_cleaned = convert_identifiers_to_string(df_morpho_cleaned, identifier_columns)
profile_clean = convert_identifiers_to_string(profile_record_clean, identifier_columns)
merged1 = convert_identifiers_to_string(merged1, identifier_columns)
site_info_clean = convert_identifiers_to_string(site_info_clean, identifier_columns)
#district_clean = convert_identifiers_to_string(district_clean, identifier_columns)
soil_type_clean = convert_identifiers_to_string(soil_type_clean, identifier_columns)
geo_features_clean = convert_identifiers_to_string(geo_features_clean, identifier_columns)
topo_features_clean = convert_identifiers_to_string(topo_features_clean, identifier_columns)

In [79]:
# Check types of identifier columns in each dataframe
dfs = {
    "samples": samples_check,
    "horizon": df_morpho_cleaned,
    "profile": profile_clean,
    "lab_analysis": merged1,
    "site_info": site_info_clean,
    #"district_clean": district_clean,
    "soil_type": soil_type_clean,
    "geo_features": geo_features_clean,
    "topo_features": topo_features_clean,
}

for name, df in dfs.items():
    print(f"\n{name} column types:")
    for col in identifier_columns:
        if col in df.columns:
            print(f"  {col}: {df[col].dtype}")

samples column types:
  sample_id: object
  site_info_id: object
  profile: object
  horizon_id: object
  profile_record_id: object

horizon column types:
  sample_id: object
  profile: object
  horizon_id: object
  profile_record_id: object

profile column types:
  sample_id: object
  site_info_id: object
  profile: object
  profile_record_id: string

lab_analysis column types:
  sample_id: object
  horizon_id: object
  lab_sample_id: string
  lab_sample_id: string

site_info column types:
  site_info_id: string
  profile: object
  climate_id: object

soil_type column types:
  profile: object

geo_features column types:
  profile: object
  geo_features_id: string

topo_features column types:
  profile: object
  topo_features_id: string

In [80]:
## validate FK references in tables

samples_check['sample_id'] = samples_check['sample_id'].astype(str).str.strip().str.replace('.0', '')
df_morpho_cleaned['sample_id'] = df_morpho_cleaned['sample_id'].astype(str).str.strip().str.replace('.0', '')

# Check for missing FK references in morphology
missing_samples = samples_check[~samples_check['sample_id'].isin(df_morpho_cleaned['sample_id'])]

print(f"{len(missing_samples)} sample_id(s) in samples_check are missing in horizon.")
print(missing_samples[['sample_id']])

9704 sample_id(s) in samples_check are missing in horizon.
      sample_id
1           631
3           633
7           697
8           698
9           699
...         ...
14710     18867
14711     18868
14712     18869
14713     18870
14714     18871

[9704 rows x 1 columns]

In [81]:
#inspecting a random 25 samples that are missing in horizon

# Print random sample of 25 missing sample_ids
sample_subset = missing_samples.sample(n=25, random_state=42)  # Set random_state for reproducibility
print(sample_subset[['sample_id']].reset_index(drop=True))

   sample_id
0       2044
1      15936
2      17780
3       5288
4      13422
5      10276
6      12228
7       9094
8      15374
9       7359
10      1762
11     17363
12     12169
13     18754
14      2236
15      9709
16     16539
17     17941
18     14442
19      7699
20     11951
21     15690
22     11558
23      1823
24      6124

In [82]:
# Samples table horizon_id FK 

# Drop old horizon_id if it exists (to avoid confusion)
samples_check = samples_check.drop(columns=['horizon_id'], errors='ignore')

samples_check['sample_id'] = samples_check['sample_id'].astype(str).str.strip().str.replace('.0', '', regex=False)
df_morpho_cleaned['sample_id'] = df_morpho_cleaned['sample_id'].astype(str).str.strip().str.replace('.0', '', regex=False)


# Merge horizon_id from morph into samples
samples_check = samples_check.merge(
    df_morpho_cleaned[['sample_id', 'horizon_id']],
    on='sample_id',
    how='left'
)

missing = samples_check[samples_check['horizon_id'].isna()]
print(f"{len(missing)} samples could not be matched with a horizon_id.")

9704 samples could not be matched with a horizon_id.

In [83]:
# Re-order and select relevant columns
samples_clean1 = samples_check[[
    'sample_id',
    'site_info_id', 
    'profile',
    'horizon_id',
    'year',
    'shelf',
    'room'  # Ensure this matches the column name in your DataFrame
]].copy()

# Preview the result
samples_clean1.head()

  sample_id site_info_id profile     horizon_id    year shelf room
0       630          172     139  Hb_139/46_1_1  1946.0     1   22
1       631          173     139            NaN  1946.0     1   22
2       632          174     139  Hb_139/46_3_1  1946.0     1   22
3       633          175     139            NaN  1946.0     1   22
4       687         1034     208  Hb_208/46_1_1  1946.0     1   22

In [84]:
samples_clean1.head()

  sample_id site_info_id profile     horizon_id    year shelf room
0       630          172     139  Hb_139/46_1_1  1946.0     1   22
1       631          173     139            NaN  1946.0     1   22
2       632          174     139  Hb_139/46_3_1  1946.0     1   22
3       633          175     139            NaN  1946.0     1   22
4       687         1034     208  Hb_208/46_1_1  1946.0     1   22

## completing profile_record_clean table

In [85]:
profile_record_clean.head()

   profile_record_id profile site_info_id sample_id soil_type_id
0                  1     139         <NA>      <NA>         <NA>
1                  2     139         <NA>      <NA>         <NA>
2                  3     139         <NA>      <NA>         <NA>
3                  4     139         <NA>      <NA>         <NA>
4                  5     208         <NA>      <NA>         <NA>

In [86]:
# Drop old foreign key columns if they exist
profile_record_clean = profile_record_clean.drop(
    columns=['site_info_id', 'sample_id', 'soil_type_id'], errors='ignore'
)

# Merge site_info_id (one-to-one or many-to-one) using 'ID'
profile_record_clean = profile_record_clean.merge(
    site_info_clean[['profile', 'site_info_id']],
    on='ID',
    how='left'
)

# Merge soil_type_id (one-to-one or many-to-one) using 'profile'
profile_record_clean = profile_record_clean.merge(
    soil_type_clean[['profile', 'soil_type_id']],
    on='profile',
    how='left'
)

# Merge sample_id (one-to-one or many-to-one) using 'profile'
profile_record_clean = profile_record_clean.merge(
    samples_clean1[['profile', 'sample_id']],
    on='profile',
    how='left'
)

#drop PK and replace w new profile_record_id PK
# Drop old FK columns if they exist
profile_record_clean = profile_record_clean.drop(
    columns=['profile_record_id' ],
    errors='ignore'
)

# Ensure primary key 'profile_record_id' exists
if 'profile_record_id' not in profile_record_clean.columns:
    profile_record_clean.insert(0, 'profile_record_id', range(1, len(profile_record_clean) + 1))

profile_record_clean['profile_record_id'] = profile_record_clean['profile_record_id'].astype(str)

# Final column order
column_order = [
    'profile_record_id',
    'profile',
    'site_info_id',
    'soil_type_id',
    'sample_id'
]
profile_record_clean = profile_record_clean[column_order]

# Check for missing links (optional sanity check)
missing_site = profile_record_clean[profile_record_clean['site_info_id'].isna()]
missing_soil = profile_record_clean[profile_record_clean['soil_type_id'].isna()]

print(f"{len(missing_site)} profiles missing site_info_id")
print(f"{len(missing_soil)} profiles missing soil_type_id")

profile_record_clean.head()

KeyError: 'ID'

In [118]:
df_morpho_cleaned.head()

,horizon_id,sample_id,profile,horizon_layer,upper_depth,lower_depth,dry_color_name,dry_hue,dry_value,dry_chroma,...,compaction,durability,pore_quantity,pore_diameter,pore_shape,root_quantity,root_diameter,moisture_degree,Unnamed: 46,profile_record_id
0,B_101/62_1_1,10999,101_62,1.0,0.0,11.0,Pardo-acinzentado a pardo,10YR,5.0,2.5,...,Pequena a minima,Brando,Pouco poroso,Muito finos,NaN,Muitas finas e bastantes medias,NaN,Seco,NaN,<NA>
1,B_101/62_2_1,11000,101_62,2.0,11.0,28.0,Pardo,10YR,5.0,3.0,...,Pequena,Brando,Pouco poroso,Muito finos,NaN,Bastantes finas e medias e raras grossas,NaN,Seco,NaN,<NA>
2,B_101/62_3_1,11001,101_62,3.0,28.0,54.0,Pardo-amarelado-claro,10YR,6.0,4.0,...,Pequena a minima,Brando,Pouco poroso,Muito finos,NaN,Algumas finas e medias e raras grossas,NaN,Seco,NaN,<NA>
3,B_101/62_4_1,11002,101_62,4.0,54.0,90.0,Amarelo a amarelo-avermelhado,"8,75YR",7.0,6.0,...,Pequena a minima,Brando,Pouco a medianamente poroso,Muito finos,NaN,"Poucas finas, algumas medias e raras grossas",NaN,Seco,NaN,<NA>
4,B_101/62_5_2,11003,101_62,5.0,90.0,160.0,Pardo-avermelhado,"7,5YR",7.0,6.0,...,Pequena,Brando,Pouco a medianamente poroso,Muito finos,NaN,Raras,Medias e grossas,Seco a humido,NaN,<NA>

In [122]:
# Convert to string dtype in both DataFrames before merge
df_morpho_cleaned['profile_record_id'] = df_morpho_cleaned['profile_record_id'].astype(str)
profile_record_clean['profile_record_id'] = profile_record_clean['profile_record_id'].astype(str)

#drop old FK
# Drop old FK columns if they exist
df_morpho_cleaned = df_morpho_cleaned.drop(
    columns=['profile_record_id'],
    errors='ignore'
)
# Now merge on 'profile_record_id'
df_morpho_cleaned = df_morpho_cleaned.merge(
    profile_record_clean[['profile', 'profile_record_id']],
    on='profile',
    how='left'
)

df_morpho_cleaned1 = df_morpho_cleaned[[
    'horizon_id',
    'sample_id',
    #'profile_record_id',
    'profile',
    'horizon_layer',
    'upper_depth',
    'lower_depth',
    'moisture_degree',
    'root_quantity',
    'root_diameter',
    'texture',
    'structure_type',
    'structure_class',
    'structure_degree',
    'pore_diameter',
    'pore_quantity',
    'pore_shape',
    'dry_color_name',
    'dry_hue',
    'dry_value',
    'dry_chroma',
    'moist_color_name',
    'moist_hue',
    'moist_value',
    'moist_chroma',
    'compaction',
    'durability'
]]

In [123]:
df_morpho_cleaned1.head()

,horizon_id,sample_id,profile,horizon_layer,upper_depth,lower_depth,moisture_degree,root_quantity,root_diameter,texture,...,dry_color_name,dry_hue,dry_value,dry_chroma,moist_color_name,moist_hue,moist_value,moist_chroma,compaction,durability
0,B_101/62_1_1,10999,101_62,1.0,0.0,11.0,Seco,Muitas finas e bastantes medias,NaN,Arenoso,...,Pardo-acinzentado a pardo,10YR,5.0,2.5,Pardo-acinzentado-escuro,10YR,4.0,2.0,Pequena a minima,Brando
1,B_101/62_2_1,11000,101_62,2.0,11.0,28.0,Seco,Bastantes finas e medias e raras grossas,NaN,Arenoso-franco,...,Pardo,10YR,5.0,3.0,Pardo-amarelado-escuro,10YR,3.0,4.0,Pequena,Brando
2,B_101/62_3_1,11001,101_62,3.0,28.0,54.0,Seco,Algumas finas e medias e raras grossas,NaN,Arenoso-franco,...,Pardo-amarelado-claro,10YR,6.0,4.0,Pardo-amarelado-escuro,10YR,4.0,4.0,Pequena a minima,Brando
3,B_101/62_4_1,11002,101_62,4.0,54.0,90.0,Seco,"Poucas finas, algumas medias e raras grossas",NaN,Franco-arenoso a arenoso-franco,...,Amarelo a amarelo-avermelhado,"8,75YR",7.0,6.0,Pardo-forte,"7,5YR",5.0,6.0,Pequena a minima,Brando
4,B_101/62_5_2,11003,101_62,5.0,90.0,160.0,Seco a humido,Raras,Medias e grossas,Arenoso-franco,...,Pardo-avermelhado,"7,5YR",7.0,6.0,Pardo-forte,"7,5YR",5.0,6.0,Pequena,Brando

In [126]:
df_morpho_cleaned1.to_csv('/Users/inesschwartz/Desktop/morpho_clean.csv')

## Completing site_info_clean table

In [42]:
# Convert keys to string before merge to avoid dtype mismatch errors
site_info_clean['site_info_id'] = site_info_clean['ID'].astype(str)
geo_features_clean['ID'] = geo_features_clean['ID'].astype(str)
climate_features_clean['ID'] = climate_features_clean['ID'].astype(str)
topo_features_clean['ID'] = topo_features_clean['ID'].astype(str)

/var/folders/tp/79mdnyy56_xc3g1jvp9wf4_80000gn/T/ipykernel_8750/4452788.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_features_clean['ID'] = climate_features_clean['ID'].astype(str)

In [43]:
# Drop old FK columns if they exist
site_info_clean = site_info_clean.drop(
    columns=['geo_features_id', 'climate_id', 'topo_features_id', 'district_id', 'land_cover_id', 'geology_id','topo_feature_id','sampling_date', 'districts_id' ],
    errors='ignore'
)

In [44]:
# --- Step 1: Convert 'ID' columns to string ---
site_info_clean['ID'] = site_info_clean['ID'].astype(str)
geo_features_clean['ID'] = geo_features_clean['ID'].astype(str)
climate_features_clean['ID'] = climate_features_clean['ID'].astype(str)
topo_features_clean['ID'] = topo_features_clean['ID'].astype(str)

# --- Step 2: Merge feature tables into site_info_clean ---
site_info_clean = site_info_clean.merge(
    geo_features_clean[['ID', 'geo_features_id']],
    on='ID',
    how='left'
)

site_info_clean = site_info_clean.merge(
    climate_features_clean[['ID', 'climate_id']],
    on='ID',
    how='left'
)

site_info_clean = site_info_clean.merge(
    topo_features_clean[['ID', 'topo_features_id']],
    on='ID',
    how='left'
)

# --- Step 3: Drop 'ID' column from all involved tables ---
for table in ['site_info_clean', 'geo_features_clean', 'climate_features_clean', 'topo_features_clean']:
    df = globals().get(table)
    if df is not None and 'ID' in df.columns:
        df = df.drop(columns=['ID'])
        globals()[table] = df
        print(f"‚úÖ Dropped 'ID' from {table}")
    else:
        print(f"‚è≠Ô∏è Skipping {table}: not found or no 'ID' column")

# --- District: Skip merging district_id, use district name directly ---

# don't see need for district_id, just use district name
# For district (assuming district columns are already strings)
# site_info_clean = site_info_clean.merge(
#     district_clean[['district', 'district_id']],
#     on='district',
#     how='left'
# )

‚úÖ Dropped 'ID' from site_info_clean
‚úÖ Dropped 'ID' from geo_features_clean
‚úÖ Dropped 'ID' from climate_features_clean
‚úÖ Dropped 'ID' from topo_features_clean

/var/folders/tp/79mdnyy56_xc3g1jvp9wf4_80000gn/T/ipykernel_8750/2925909182.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  climate_features_clean['ID'] = climate_features_clean['ID'].astype(str)

In [45]:
site_info_clean.head()

,site_info_id,profile,X_coord,Y_coord,district,geo_features_id,climate_id,topo_features_id
0,2770,1/57,12.161278,-15.222598,Namibe,1,1,1
1,48,1/59,12.575775,-4.866986,Cabinda,2,2,2
2,1618,1/61,15.098840,-11.225411,Cuanza Sul,3,3,3
3,881,1/63,17.081955,-9.274587,Malanje,4,4,4
4,1750,1/64,20.788116,-11.568683,Moxico,5,5,5

In [46]:
## need to drop ID from climate, geo_features, topo_features, and site_info_clean

In [47]:
site_info_clean.head()

,site_info_id,profile,X_coord,Y_coord,district,geo_features_id,climate_id,topo_features_id
0,2770,1/57,12.161278,-15.222598,Namibe,1,1,1
1,48,1/59,12.575775,-4.866986,Cabinda,2,2,2
2,1618,1/61,15.098840,-11.225411,Cuanza Sul,3,3,3
3,881,1/63,17.081955,-9.274587,Malanje,4,4,4
4,1750,1/64,20.788116,-11.568683,Moxico,5,5,5

In [48]:
profile_record_clean.head()

  profile_record_id profile site_info_id  soil_type_id sample_id
0                 1     139         <NA>           NaN       630
1                 2     139         <NA>           NaN       631
2                 3     139         <NA>           NaN       632
3                 4     139         <NA>           NaN       633
4                 5     139         <NA>           NaN      1817

In [49]:
## changing column headers to be SQL friendly
# Rename problematic columns
merged1 = merged1.rename(columns={
    'atm_1/3': 'atm_1_3',
    'Ca++': 'Ca',
    'Mg++': 'Mg',
    'Na+': 'Na',
    'K+': 'K',
    'Min_<0,002': 'Min_lt_0002',
    'Min_0,05-0,02': 'Min_005_002',
    'Min_0,2-0,05': 'Min_02_005',
    'Min_2-0,2': 'Min_2_02',
    'As': 'arsenic',
    'P': 'phosphorus',
    'S': 'sulfur',
    'V': 'vanadium'
})

# SAVING CLEANED TABLES TO CSV FOR DB

In [50]:
import pandas as pd

# Prepare dictionary of clean tables
tables = {
    "samples": samples_clean1,
    "analyses": merged1,
    "profile_record": profile_record_clean,
    "morphology_horizon": morphology_clean1,
    "soil_type": soil_type_clean,
    "site_info": site_info_clean,
    "climate_feat": climate_features_clean,
    "topo_feat": topo_features_clean,
    "geo_feat": geo_features_clean,
    #"districts": district_clean
}

# # Save each table to CSV with 'NULL' in empty cells
for name, df in tables.items():
#     df.replace("", pd.NA, inplace=True)  # Replace empty strings with NA
    df.to_csv(f"/Users/inesschwartz/GreenDataScience/Thesis/tables_clean/{name}.csv", index=False)

In [51]:
# Save random 100 rows of each table as mini versions for DB test
import os

# Create folder if it doesn't exist
mini_path = "/Users/inesschwartz/GreenDataScience/Thesis/tables_clean_mini"
os.makedirs(mini_path, exist_ok=True)

# Save random 100 rows of each table as mini versions
samples_clean.sample(n=100, random_state=42).to_csv(f"{mini_path}/samples.csv", index=False)
merged1.sample(n=100, random_state=42).to_csv(f"{mini_path}/analyses.csv", index=False)
profile_record_clean.sample(n=100, random_state=42).to_csv(f"{mini_path}/profile_record.csv", index=False)
morphology_clean1.sample(n=100, random_state=42).to_csv(f"{mini_path}/morphology_horizon.csv", index=False)
soil_type_clean.sample(n=100, random_state=42).to_csv(f"{mini_path}/soil_type.csv", index=False)
site_info_clean.sample(n=100, random_state=42).to_csv(f"{mini_path}/site_info.csv", index=False)
climate_features_clean.sample(n=100, random_state=42).to_csv(f"{mini_path}/climate_feat.csv", index=False)
topo_features_clean.sample(n=100, random_state=42).to_csv(f"{mini_path}/topo_feat.csv", index=False)
geo_features_clean.sample(n=100, random_state=42).to_csv(f"{mini_path}/geo_feat.csv", index=False)
#district_clean.sample(n=100, random_state=42).to_csv(f"{mini_path}/districts.csv", index=False)

In [52]:
# List your DataFrame variables here
dataframes = {
    "samples": samples_clean1,
    "analyses": merged1,
    "profile_record": profile_record_clean,
    "morphology_horizon": morphology_clean1,
    "soil_type": soil_type_clean,
    "site_info": site_info_clean,
    "climate_feat": climate_features_clean,
    "topo_feat": topo_features_clean,
    "geo_feat": geo_features_clean
    #"districts": district_clean
}

# Print column names and their datatypes
for name, df in dataframes.items():
    print(f"\n{name} ({len(df)} rows):")
    for col in df.columns:
        dtype = df[col].dtype
        print(f"  - {col} ({dtype})")

samples (14766 rows):
  - sample_id (object)
  - site_info_id (object)
  - profile (object)
  - horizon_id (object)
  - year (float64)
  - shelf (string)
  - room (object)

analyses (7847 rows):
  - lab_sample_id (object)
  - sample_id (object)
  - EG (float64)
  - thick_clay (float64)
  - fine_clay (float64)
  - silt (float64)
  - clay (float64)
  - Eq_Hum (float64)
  - atm_1_3 (float64)
  - atm_15 (float64)
  - CACO3 (float64)
  - gypsum (float64)
  - free_iron (float64)
  - organic_carbon (float64)
  - total_N (float64)
  - P205 (float64)
  - organic_material (float64)
  - pH_H2O (float64)
  - pH_KCL (float64)
  - Ca (float64)
  - Mg (float64)
  - Na (float64)
  - K (float64)
  - exchangable_bases_sum (float64)
  - CEC (float64)
  - vanadium (object)
  - conductivity (float64)
  - soluble_sodium (float64)
  - Min_lt_0002 (object)
  - Min_005_002 (object)
  - Min_02_005 (object)
  - Min_2_02 (object)
  - field_sample_code (object)
  - Depth (object)
  - Al (float64)
  - Si (float64)
  - phosphorus (float64)
  - sulfur (object)
  - Cl (float64)
  - Ti (float64)
  - Cr (float64)
  - Mn (float64)
  - Fe (float64)
  - Co (float64)
  - Ni (float64)
  - Cu (float64)
  - Zn (float64)
  - arsenic (float64)
  - Se (float64)
  - Rb (float64)
  - Sr (float64)
  - Zr (float64)
  - Nb (float64)
  - Mo (float64)
  - Cd (float64)
  - Sn (float64)
  - Sb (float64)
  - Ba (float64)
  - Ta (float64)
  - W (float64)
  - Pt (float64)
  - Au (float64)
  - Hg (float64)
  - Tl (float64)
  - Pb (float64)
  - Bi (float64)
  - Th (float64)
  - U (float64)

profile_record (86665 rows):
  - profile_record_id (object)
  - profile (object)
  - site_info_id (string)
  - soil_type_id (float64)
  - sample_id (object)

morphology_horizon (207408 rows):
  - horizon_id (object)
  - sample_id (string)
  - profile_record_id (object)
  - horizon_layer (float64)
  - upper_depth (float64)
  - lower_depth (float64)
  - moisture_degree (object)
  - root_quantity (object)
  - root_diameter (object)
  - texture (object)
  - structure_type (object)
  - structure_class (object)
  - structure_degree (object)
  - pore_diameter (object)
  - pore_quantity (object)
  - pore_shape (object)
  - dry_color_name (object)
  - dry_hue (object)
  - dry_value (float64)
  - dry_chroma (float64)
  - moist_color_name (object)
  - moist_hue (object)
  - moist_value (float64)
  - moist_chroma (float64)
  - compaction (object)
  - durability (object)

soil_type (2518 rows):
  - soil_type_id (int64)
  - profile (object)
  - CEP_GR (object)
  - CEP_NAME (object)
  - FAO (object)

site_info (4321 rows):
  - site_info_id (object)
  - profile (object)
  - X_coord (float64)
  - Y_coord (float64)
  - district (object)
  - geo_features_id (int64)
  - climate_id (int64)
  - topo_features_id (int64)

climate_feat (4321 rows):
  - climate_id (int64)
  - mean_annual_temp (object)
  - mean_annual_precip (object)
  - koppen_climate (object)
  - thornthwaite_climate (object)
  - hydric_regime (object)
  - thermal_regime (object)

topo_feat (4321 rows):
  - topo_features_id (int64)
  - slope_code (object)
  - altitude (float64)
  - aspect (object)
  - land_surface_temp (object)
  - dem_elevation (object)

geo_feat (4321 rows):
  - geo_features_id (int64)
  - geology_id (object)
  - lithology_id (object)
  - lithology_1954_id (object)

In [53]:
missing = profile_record_clean[~profile_record_clean['soil_type_id'].isin(soil_type_clean['soil_type_id'])]
print(missing)

      profile_record_id profile site_info_id  soil_type_id sample_id
0                     1     139         <NA>           NaN       630
1                     2     139         <NA>           NaN       631
2                     3     139         <NA>           NaN       632
3                     4     139         <NA>           NaN       633
4                     5     139         <NA>           NaN      1817
...                 ...     ...          ...           ...       ...
86660             86661  540/67         3627           NaN     18867
86661             86662  540/67         3627           NaN     18868
86662             86663  540/67         3627           NaN     18869
86663             86664  540/67         3627           NaN     18870
86664             86665  538/67         3611           NaN     18871

[51532 rows x 5 columns]

In [54]:
samples_clean1.head()

  sample_id site_info_id profile     horizon_id    year shelf room
0       630          172     139  Hb_139/46_1_1  1946.0     1   22
1       631          173     139  Hb_139/46_2_1  1946.0     1   22
2       632          174     139  Hb_139/46_3_1  1946.0     1   22
3       633          175     139            NaN  1946.0     1   22
4       687         1034     208  Hb_208/46_1_1  1946.0     1   22

In [55]:
missing1 = site_info_clean[~site_info_clean['site_info_id'].isin(samples_clean['site_info_id'])]
print(missing1)

     site_info_id profile    X_coord    Y_coord    district  geo_features_id  \
0            2770    1/57  12.161278 -15.222598      Namibe                1
2            1618    1/61  15.098840 -11.225411  Cuanza Sul                3
4            1750    1/64  20.788116 -11.568683      Moxico                5
5            3097    1/66  17.666766 -14.655526         NaN                6
8            2675   10/54  14.445188 -14.922688       Huila                9
...           ...     ...        ...        ...         ...              ...
4313         1689   99/63  18.164654 -11.382465     Malanje             4314
4314         3247   99/66  18.994294 -15.814591         NaN             4315
4317         1485  99c/63  17.541534 -10.890781     Malanje             4318
4319         1213   9c/63  16.357859  -9.986349     Malanje             4320
4320         1505   9c/65  20.937136 -10.942842   Lunda Sul             4321

      climate_id  topo_features_id
0              1                 1
2              3                 3
4              5                 5
5              6                 6
8              9                 9
...          ...               ...
4313        4314              4314
4314        4315              4315
4317        4318              4318
4319        4320              4320
4320        4321              4321

[3136 rows x 8 columns]

In [56]:
samples_clean1['site_info_id'].value_counts()

site_info_id
16       16
14       15
9        15
42       15
40       15
         ..
32/57     1
31/57     1
30/57     1
29/57     1
657 c     1
Name: count, Length: 6439, dtype: int64

In [57]:
samples_clean1[samples_clean1['site_info_id'].isnull()]

      sample_id site_info_id profile horizon_id    year shelf room
10641     14219         <NA>  318/63        NaN  1963.0   458   26
12742     16639         <NA>     nan        NaN  1965.0   582   26
12743     16640         <NA>     nan        NaN  1965.0   582   26
12744     16641         <NA>     nan        NaN  1965.0   582   26
12745     16642         <NA>     nan        NaN  1965.0   582   26
12746     16643         <NA>     nan        NaN  1965.0   582   26
12747     16644         <NA>     nan        NaN  1965.0   582   26
12748     16645         <NA>     nan        NaN  1965.0   582   26
12749     16646         <NA>     nan        NaN  1965.0   582   26
12750     16647         <NA>     nan        NaN  1965.0   582   26
12751     16648         <NA>     nan        NaN  1965.0   583   26
12752     16649         <NA>     nan        NaN  1965.0   583   26
12753     16650         <NA>     nan        NaN  1965.0   583   26
12754     16651         <NA>     nan        NaN  1965.0   583   26
12755     16652         <NA>     nan        NaN  1965.0   583   26
12756     16653         <NA>     nan        NaN  1965.0   583   26
12757     16654         <NA>     nan        NaN  1965.0   583   26
12758     16655         <NA>     nan        NaN  1965.0   583   26
12759     16656         <NA>     nan        NaN  1965.0   583   26
12760     16657         <NA>     nan        NaN  1965.0   583   26
12761     16658         <NA>     nan        NaN  1965.0   583   26
12762     16659         <NA>     nan        NaN  1965.0   583   26
12763     16660         <NA>     nan        NaN  1965.0   583   26
12764     16661         <NA>     nan        NaN  1965.0   583   26
12765     16662         <NA>     nan        NaN  1965.0   583   26
12766     16663         <NA>     nan        NaN  1965.0   583   26
12767     16664         <NA>     nan        NaN  1965.0   583   26
12768     16666         <NA>     nan        NaN  1965.0   583   26

In [58]:
profile_record_clean.head()

  profile_record_id profile site_info_id  soil_type_id sample_id
0                 1     139         <NA>           NaN       630
1                 2     139         <NA>           NaN       631
2                 3     139         <NA>           NaN       632
3                 4     139         <NA>           NaN       633
4                 5     139         <NA>           NaN      1817

In [59]:
soil_type_clean.head()

,soil_type_id,profile,CEP_GR,CEP_NAME,FAO
0,1,1/51,NaN,NaN,NaN
1,2,1/57,Aridicos,Aridicos com calcario Pardo-cinzentos,CLha
2,3,1/59,Psamoferralicos,"Psamo-ferralicos Amarelos ou Alaranjados, sedi...",FRxa
3,4,1/63,Ferraliticos,Fracamente Ferralicos Vermelhos Clino-argilico...,FRh
4,5,10/54,Ferraliticos,Fracamente Ferralicos pardo-amarelados,FRh

In [60]:
# Get list of valid soil_type_ids
valid_soil_type_ids = set(soil_type_clean['soil_type_id'])

# Find invalid soil_type_ids in profile_df
invalid_rows = profile_record_clean[~profile_record_clean['soil_type_id'].isin(valid_soil_type_ids)]

# Show the result
if not invalid_rows.empty:
    print("‚ùå These rows reference soil_type_id values that do NOT exist in soil_type.csv:")
    print(invalid_rows)
else:
    print("‚úÖ All soil_type_id values in profile_record.csv are valid.")

‚ùå These rows reference soil_type_id values that do NOT exist in soil_type.csv:
      profile_record_id profile site_info_id  soil_type_id sample_id
0                     1     139         <NA>           NaN       630
1                     2     139         <NA>           NaN       631
2                     3     139         <NA>           NaN       632
3                     4     139         <NA>           NaN       633
4                     5     139         <NA>           NaN      1817
...                 ...     ...          ...           ...       ...
86660             86661  540/67         3627           NaN     18867
86661             86662  540/67         3627           NaN     18868
86662             86663  540/67         3627           NaN     18869
86663             86664  540/67         3627           NaN     18870
86664             86665  538/67         3611           NaN     18871

[51532 rows x 5 columns]

In [61]:
profile_record_clean.head()

  profile_record_id profile site_info_id  soil_type_id sample_id
0                 1     139         <NA>           NaN       630
1                 2     139         <NA>           NaN       631
2                 3     139         <NA>           NaN       632
3                 4     139         <NA>           NaN       633
4                 5     139         <NA>           NaN      1817

In [62]:
# Find rows where soil_type_id is null in profile_record_clean
null_rows = profile_record_clean[profile_record_clean['site_info_id'].isnull()]

# Show the result
if not null_rows.empty:
    print("‚ùå These rows have NULL values in the site_info_id column of profile_record.csv:")
    print(null_rows)
else:
    print("‚úÖ No NULL values found in the site_info_id column of profile_record.csv.")

‚ùå These rows have NULL values in the site_info_id column of profile_record.csv:
      profile_record_id profile site_info_id  soil_type_id sample_id
0                     1     139         <NA>           NaN       630
1                     2     139         <NA>           NaN       631
2                     3     139         <NA>           NaN       632
3                     4     139         <NA>           NaN       633
4                     5     139         <NA>           NaN      1817
...                 ...     ...          ...           ...       ...
86240             86241  508/71         <NA>           NaN     18765
86267             86268  516/68         <NA>           NaN     18772
86268             86269  516/69         <NA>           NaN     18773
86270             86271  493/68         <NA>           NaN     18781
86271             86272  493/69         <NA>           NaN     18782

[29884 rows x 5 columns]

In [63]:
# Find rows where soil_type_id is null in profile_record_clean
null_rows = profile_loc[profile_loc['ID'].isnull()]

# Show the result
if not null_rows.empty:
    print("‚ùå These rows have NULL values in the ID column of perfis_local.csv:")
    print(null_rows)
else:
    print("‚úÖ No NULL values found in the ID column of perfis_local.csv.")

‚úÖ No NULL values found in the ID column of perfis_local.csv.

In [64]:
soil_type_ids = set(soil_type_clean['soil_type_id'].unique())
profile_soil_type_ids = set(profile_record_clean['soil_type_id'].unique())

missing_ids = profile_soil_type_ids - soil_type_ids

print("soil_type_ids in profile_record missing from soil_type.csv:", missing_ids)

soil_type_ids in profile_record missing from soil_type.csv: {nan}

In [65]:
# Check if 4835 is in soil_type_id column of soil_type.csv
soil_type_has_4835 = 4835 in soil_type_clean['soil_type_id'].values

# Check if 4835 is in soil_type_id column of profile_record.csv
profile_record_has_4835 = 4835 in profile_record_clean['soil_type_id'].values

print(f"4835 in soil_type.csv? {soil_type_has_4835}")
print(f"4835 in profile_record.csv? {profile_record_has_4835}")

4835 in soil_type.csv? False
4835 in profile_record.csv? False

In [66]:
print(4835 in profile_record_clean['soil_type_id'].values)

False

In [67]:
print(4835 in profile_record_clean['soil_type_id'].values)
print(profile_record_clean[profile_record_clean['soil_type_id'] == 4835])

False
Empty DataFrame
Columns: [profile_record_id, profile, site_info_id, soil_type_id, sample_id]
Index: []

In [68]:
soil_type_ids_in_soil_type = set(soil_type_clean['soil_type_id'].unique())
soil_type_ids_in_profile_record = set(profile_record_clean['soil_type_id'].unique())

missing_soil_type_ids = soil_type_ids_in_profile_record - soil_type_ids_in_soil_type

print(f"Missing soil_type_ids in soil_type.csv: {missing_soil_type_ids}")

Missing soil_type_ids in soil_type.csv: {nan}